/**
 * @file Text
 * @author musicode
 */

$selector-text = '.text'
$selector-texts = '.texts'

$text-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge
}
