/**
 * @file 徽章
 * @author zhujl
 */

$size-hash['badge'] = {

    'base': {
        'line-height': $line-height-tiny,
        'padding-horizontal': $padding-vertical-base,
        'border-radius': 30px,
        'min-width': 27px,
        'min-height': 27px
    },

    'tiny': {
        'line-height': $line-height-tiny,
        'padding-horizontal': $padding-vertical-tiny,
        'border-radius': 30px,
        'min-width': 17px,
        'min-height': 17px
    },

    'small': {
        'line-height': $line-height-tiny,
        'padding-horizontal': $padding-vertical-small,
        'border-radius': 30px,
        'min-width': 20px,
        'min-height': 20px
    },

    'large': {
        'line-height': $line-height-tiny,
        'padding-horizontal': $padding-vertical-large,
        'border-radius': 30px,
        'min-width': 34px,
        'min-height': 34px
    },

    'huge': {
        'line-height': $line-height-tiny,
        'padding-horizontal': $padding-vertical-huge,
        'border-radius': 30px,
        'min-width': 39px,
        'min-height': 39px
    }

};

$type-hash['badge-default'] = {
    'default': {
        'bg': $gray-base,
        'color': #FFF
    }
};

$type-hash['badge-primary'] = {
    'default': {
        'bg': $brand-primary,
        'color': #FFF
    }
};

$type-hash['badge-info'] = {
    'default': {
        'bg': $brand-info,
        'color': #FFF
    }
};

$type-hash['badge-success'] = {
    'default': {
        'bg': $brand-success,
        'color': #FFF
    }
};

$type-hash['badge-error'] = {
    'default': {
        'bg': $brand-error,
        'color': #FFF
    }
};
