/**
 * @file 徽章
 * @author zhujl
 */

$badge-font-weight = normal;
$badge-min-width = 22px;

$size-hash['badge'] = {

    'base': {
        'border-top-width': 0,
        'border-right-width': 0,
        'border-bottom-width': 0,
        'border-left-width': 0,
        'line-height': $line-height-tiny,
        'border-radius': 30px,
        'font-size': $font-size-base,
        'padding-vertical': $padding-vertical-base,
        'padding-horizontal': $padding-horizontal-base
    },

    'tiny': {
        'border-top-width': 0,
        'border-right-width': 0,
        'border-bottom-width': 0,
        'border-left-width': 0,
        'line-height': $line-height-tiny,
        'border-radius': 30px,
        'font-size': $font-size-tiny,
        'padding-vertical': $padding-vertical-tiny,
        'padding-horizontal': $padding-horizontal-tiny
    },

    'small': {
        'border-top-width': 0,
        'border-right-width': 0,
        'border-bottom-width': 0,
        'border-left-width': 0,
        'line-height': $line-height-tiny,
        'border-radius': 30px,
        'font-size': $font-size-small,
        'padding-vertical': $padding-vertical-small,
        'padding-horizontal': $padding-horizontal-small
    },

    'large': {
        'border-top-width': 0,
        'border-right-width': 0,
        'border-bottom-width': 0,
        'border-left-width': 0,
        'line-height': $line-height-tiny,
        'border-radius': 30px,
        'font-size': $font-size-large,
        'padding-vertical': $padding-vertical-large,
        'padding-horizontal': $padding-horizontal-large
    },

    'huge': {
        'border-top-width': 0,
        'border-right-width': 0,
        'border-bottom-width': 0,
        'border-left-width': 0,
        'line-height': $line-height-tiny,
        'border-radius': 30px,
        'font-size': $font-size-huge,
        'padding-vertical': $padding-vertical-huge,
        'padding-horizontal': $padding-horizontal-huge
    }

};

$type-hash['badge-default'] = {
    'default': {
        'bg': $gray-base,
        'color': #FFF
    }
};

$type-hash['badge-primary'] = {
    'default': {
        'bg': $brand-primary,
        'color': #FFF
    }
};

$type-hash['badge-info'] = {
    'default': {
        'bg': $brand-info,
        'color': #FFF
    }
};

$type-hash['badge-success'] = {
    'default': {
        'bg': $brand-success,
        'color': #FFF
    }
};

$type-hash['badge-error'] = {
    'default': {
        'bg': $brand-error,
        'color': #FFF
    }
};
