/**
 * @file 徽章
 * @author zhujl
 */

$badge-font-weight = bold;

$size-hash.badge = {
    'line-height-base': $line-height-tiny,
    'border-radius-base': 30px,

    'line-height-tiny': $line-height-tiny,
    'border-radius-tiny': 30px,

    'line-height-small': $line-height-tiny,
    'border-radius-small': 30px,

    'line-height-large': $line-height-tiny,
    'border-radius-large': 30px,

    'line-height-huge': $line-height-tiny,
    'border-radius-huge': 30px
};

/**
 * ==============================================================
 * default
 * ==============================================================
 */
$badge-default-bg = $gray-base;
$badge-default-color = #FFF;


/**
 * ==============================================================
 * primary
 * ==============================================================
 */
$badge-primary-bg = $brand-primary;
$badge-primary-color = #FFF;


/**
 * ==============================================================
 * info
 * ==============================================================
 */
$badge-info-bg = $brand-info;
$badge-info-color = #FFF;


/**
 * ==============================================================
 * success
 * ==============================================================
 */
$badge-success-bg = $brand-success;
$badge-success-color = #FFF;


/**
 * ==============================================================
 * error
 * ==============================================================
 */
$badge-error-bg = $brand-error;
$badge-error-color = #FFF;

