/**
 * @file 颜色
 * @author musicode
 */

$color-muted = #666
$color-primary = #80a8cc
$color-secondary = #FBFBFB
$color-success = #5cb85c
$color-error = #F95710
$color-info = #5bc0de
$color-warning = #f0ad4e
$color-danger = #d9534f

ui-light(color)
    return lighten(color, 30%)


ui-lighter(color)
    return lighten(color, 60%)


ui-dark(color)
    return darken(color, 15%)


ui-darker(color)
    return darken(color, 30%)

$brand-muted = {
    '': {
        fg: #666,
        bg: #FFF
    },
    light: {
        fg: #999,
        bg: #FFF
    },
    lighter: {
        fg: #CCC,
        bg: #666
    },
    dark: {
        fg: #444,
        bg: #FFF
    },
    darker: {
        fg: #222,
        bg: #FFF
    }
}

$brand-primary = {
    '': {
        fg: $color-primary,
        bg: #FFF
    },
    light: {
        fg: ui-light($color-primary),
        bg: #FFF
    },
    lighter: {
        fg: ui-lighter($color-primary),
        bg: $color-primary
    },
    dark: {
        fg: ui-dark($color-primary),
        bg: #FFF
    },
    darker: {
        fg: ui-darker($color-primary),
        bg: #FFF
    }
}

$brand-secondary = {
    '': {
        fg: $color-secondary,
        bg: #333
    },
    light: {
        fg: ui-light($color-secondary),
        bg: #333
    },
    lighter: {
        fg: ui-lighter($color-secondary),
        bg: $color-secondary
    },
    dark: {
        fg: ui-dark($color-secondary),
        bg: #333
    },
    darker: {
        fg: ui-darker($color-secondary),
        bg: #333
    }
}

$brand-success = {
    '': {
        fg: $color-success,
        bg: #FFF
    },
    light: {
        fg: ui-light($color-success),
        bg: #FFF
    },
    lighter: {
        fg: ui-lighter($color-success),
        bg: $color-success
    },
    dark: {
        fg: ui-dark($color-success),
        bg: #FFF
    },
    darker: {
        fg: ui-darker($color-success),
        bg: #FFF
    }
}

$brand-error = {
    '': {
        fg: $color-error,
        bg: #FFF
    },
    light: {
        fg: ui-light($color-error),
        bg: #FFF
    },
    lighter: {
        fg: ui-lighter($color-error),
        bg: $color-error
    },
    dark: {
        fg: ui-dark($color-error),
        bg: #FFF
    },
    darker: {
        fg: ui-darker($color-error),
        bg: #FFF
    }
}

$brand-info = {
    '': {
        fg: $color-info,
        bg: #FFF
    },
    light: {
        fg: ui-light($color-info),
        bg: #FFF
    },
    lighter: {
        fg: ui-lighter($color-info),
        bg: $color-info
    },
    dark: {
        fg: ui-dark($color-info),
        bg: #FFF
    },
    darker: {
        fg: ui-dark($color-info),
        bg: #FFF
    }
}

$brand-warning = {
    '': {
        fg: $color-warning,
        bg: #FFF
    },
    light: {
        fg: ui-light($color-warning),
        bg: #FFF
    },
    lighter: {
        fg: ui-lighter($color-warning),
        bg: $color-warning
    },
    dark: {
        fg: ui-dark($color-warning),
        bg: #FFF
    },
    darker: {
        fg: ui-darker($color-warning),
        bg: #FFF
    }
}

$brand-danger = {
    '': {
        fg: $color-danger,
        bg: #FFF
    },
    light: {
        fg: ui-light($color-danger),
        bg: #FFF
    },
    lighter: {
        fg: ui-lighter($color-danger),
        bg: $color-danger
    },
    dark: {
        fg: ui-dark($color-danger),
        bg: #FFF
    },
    darker: {
        fg: ui-darker($color-danger),
        bg: #FFF
    }
}

$brand-hash = {
    primary: $brand-primary,
    secondary: $brand-secondary,
    success: $brand-success,
    error: $brand-error,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger,
    muted: $brand-muted
}







