/**
 * @file 颜色
 * @author musicode
 */

$brand-muted = {
    base: #989898,
    base-reversed: #FFF,

    light: #B2B2B2,
    light-reversed: #8F8F8F,

    lighter: #E8E8E8,
    lighter-reversed: #8F8F8F,

    dark: #666,
    dark-reversed: #FFF,

    darker: #333,
    darker-reversed: #FFF
}

$brand-primary = {
    base: #428bca,
    base-reversed: #FFF,

    light: #96C6F0,
    light-reversed: #4A92C9,

    lighter: #DFF1FF,
    lighter-reversed: #4A92C9,

    dark: #3F75A3,
    dark-reversed: #FFF,

    darker: #295B85,
    darker-reversed: #FFF
}

$brand-secondary = {
    base: #F4F4F4,
    base-reversed: #333333,

    light: #F8F8F8,
    light-reversed: #333333,

    lighter: #FDFDFD,
    lighter-reversed: #333333,

    dark: #EDEDED,
    dark-reversed: #333333,

    darker: #E6E6E6,
    darker-reversed: #333333
}

$brand-success = {
    base: #5cb85c,
    base-reversed: #FFF,

    light: #9CDB7F,
    light-reversed: #78C356,

    lighter: #E6F8DE,
    lighter-reversed: #78C356,

    dark: #4F9D28,
    dark-reversed: #FFF,

    darker: #408020,
    darker-reversed: #FFF
}

$brand-error = {
    base: #F95710,
    base-reversed: #FFF,

    light: #F8AC8A,
    light-reversed: #CD8565,

    lighter: #FADBCD,
    lighter-reversed: #CD8565,

    dark: #D95116,
    dark-reversed: #FFF,

    darker: #BC4816,
    darker-reversed: #FFF
}

$brand-info = {
    base: #5bc0de,
    base-reversed: #FFF,

    light: #8AAFFF,
    light-reversed: #6181C0,

    lighter: #D5E3FF,
    lighter-reversed: #6181C0,

    dark: #46A4C0,
    dark-reversed: #FFF,

    darker: #3F8EA6,
    darker-reversed: #FFF
}

$brand-warning = {
    base: #f0ad4e,
    base-reversed: #FFF,

    light: #EABA76,
    light-reversed: #B89765,

    lighter: #FCEACF,
    lighter-reversed: #B89765,

    dark: #CE9543,
    dark-reversed: #FFF,

    darker: #B07E37,
    darker-reversed: #FFF
}

$brand-danger = {
    base: #d9534f,
    base-reversed: #FFF,

    light: #F48986,
    light-reversed: #D9716E,

    lighter: #FFDDDC,
    lighter-reversed: #D9716E,

    dark: #BE433F,
    dark-reversed: #FFF,

    darker: #9F3633,
    darker-reversed: #FFF
}

$brand-hash = {
    primary: $brand-primary,
    secondary: $brand-secondary,
    success: $brand-success,
    error: $brand-error,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger,
    muted: $brand-muted
}







