/**
 * @file 颜色
 * @author musicode
 */

$brand-bg = #fffbf5
$brand-bg-hover = #FAF7F2
$brand-bg-active = #F8F2E9
$brand-bg-checked = #F8F2E9

$brand-text = #605e58
$brand-text-hover = #444

$brand-border = #DFDDDB
$brand-divider = #EBEBEB
$brand-link = #666

$brand-muted = #b3b3b3
$brand-primary = #80a8cc
$brand-secondary = #FBFBFB
$brand-success = #5cb85c
$brand-error = #F95710
$brand-info = #5bc0de
$brand-warning = #f0ad4e
$brand-danger = #d9534f

$brand-hash = {
    primary: $brand-primary,
    secondary: $brand-secondary,
    success: $brand-success,
    error: $brand-error,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger,
    muted: $brand-muted
}







