/**
 * @file 按钮
 * @author zhujl
 */

$btn-default-bg = #FFF;
$btn-default-border = $gray-light;
$btn-default-color = $text-color;



$btn-default-bg-disabled = $gray-light;
$btn-default-border-disabled = #BBB;
$btn-default-color-disabled = $text-color;



$btn-primary-bg = $brand-primary;
$btn-primary-border = darken($btn-primary-bg, 5%);
$btn-primary-color = #FFF;

$btn-primary-bg-disabled = $gray-light;
$btn-primary-border-disabled = #BBB;
$btn-primary-color-disabled = $text-color;



$btn-info-bg = $brand-info;
$btn-info-border = darken($btn-info-bg, 5%);
$btn-info-color = #FFF;

$btn-info-bg-disabled = $gray-light;
$btn-info-border-disabled = #BBB;
$btn-info-color-disabled = $text-color;



$btn-success-bg = $brand-success;
$btn-success-border = darken($btn-success-bg, 5%);
$btn-success-color = #FFF;

$btn-success-bg-disabled = $gray-light;
$btn-success-border-disabled = #BBB;
$btn-success-color-disabled = $text-color;



$btn-error-bg = $brand-error;
$btn-error-border = darken($btn-error-bg, 5%);
$btn-error-color = #FFF;

$btn-error-bg-disabled = $gray-light;
$btn-error-border-disabled = #BBB;
$btn-error-color-disabled = $text-color;


$btn-link-color = $gray-darker;


$btn-border-radius-base = $border-radius-base;
$btn-border-radius-tiny = $border-radius-base;
$btn-border-radius-small = $border-radius-base;
$btn-border-radius-large = $border-radius-base;
$btn-border-radius-huge = $border-radius-base;
