/**
 * @file 按钮
 * @author zhujl
 */

$btn-default-bg = #FFF;
$btn-default-border = $gray-light;
$btn-default-color = $text-color;

$btn-primary-bg = $brand-primary;
$btn-primary-border = darken($btn-primary-bg, 5%);
$btn-primary-color = #FFF;

$btn-info-bg = $brand-info;
$btn-info-border = darken($btn-info-bg, 5%);
$btn-info-color = #FFF;

$btn-warning-bg = $brand-warning;
$btn-warning-border = darken($btn-warning-bg, 5%);
$btn-warning-color = #FFF;

$btn-success-bg = $brand-success;
$btn-success-border = darken($btn-success-bg, 5%);
$btn-success-color = #FFF;

$btn-error-bg = $brand-error;
$btn-error-border = darken($btn-error-bg, 5%);
$btn-error-color = #FFF;

$btn-link-color = $text-color;
