/**
 * @file 按钮
 * @author zhujl
 */

// 连续按钮的水平间距
$btn-block-gap = 10px;

$size-hash['btn'] = {

    'base': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base
    },

    'tiny': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base
    },

    'small': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base
    },

    'large': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base
    },

    'huge': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base
    }

};

$type-hash['btn-default'] = {
    'default': {
        'bg': #FFF,
        'border': $gray-light,
        'color': $gray-darker
    },
    'hover': {
        'bg': darken(#FFF, 5%),
        'border': darken($gray-light, 5%),
        'color': $gray-darker
    },
    'active': {
        'bg': darken(#FFF, 10%),
        'border': darken($gray-light, 10%),
        'color': $gray-darker,
        'box-shadow': inset 0 3px 5px rgba(0,0,0,.125)
    },
    'disabled': {
        'bg': #DDD,
        'border': #BBB,
        'color': $text-color
    },
};

$type-hash['btn-primary'] = {
    'default': {
        'bg': $brand-primary,
        'border': darken($brand-primary, 5%),
        'color': #FFF
    },
    'hover': {
        'bg': darken($brand-primary, 5%),
        'border': darken($brand-primary, 10%),
        'color': #FFF
    },
    'active': {
        'bg': darken($brand-primary, 5%),
        'border': darken($brand-primary, 10%),
        'color': #FFF,
        'box-shadow': inset 0 3px 5px rgba(0,0,0,.125)
    },
    'disabled': {
        'bg': #DFC7A3,
        'border': #C5AB84,
        'color': #FFF
    }
};

$type-hash['btn-info'] = {
    'default': {
        'bg': $brand-info,
        'border': darken($brand-info, 5%),
        'color': #FFF
    },

    'hover': {
        'bg': darken($brand-info, 5%),
        'border': darken($brand-info, 10%),
        'color': #FFF
    },

    'active': {
        'bg': darken($brand-info, 5%),
        'border': darken($brand-info, 10%),
        'color': #FFF,
        'box-shadow': inset 0 3px 5px rgba(0,0,0,.125)
    },

    'disabled': {
        'bg': #8EA3B9,
        'border': #6E86A0,
        'color': #FFF
    }
};

$type-hash['btn-success'] = {

    'default': {
        'bg': $brand-success,
        'border': darken($brand-success, 5%),
        'color': #FFF
    },

    'hover': {

        'bg': darken($brand-success, 5%),
        'border': darken($brand-success, 10%),
        'color': #FFF
    },

    'active': {
        'bg': darken($brand-success, 5%),
        'border': darken($brand-success, 10%),
        'color': #FFF,
        'box-shadow': inset 0 3px 5px rgba(0,0,0,.125)
    },

    'disabled': {
        'bg': #A0B790,
        'border': #7E9F67,
        'color': #FFF
    }
};

$type-hash['btn-error'] = {

    'default': {
        'bg': $brand-error,
        'border': darken($brand-error, 5%),
        'color': #FFF
    },

    'hover': {
        'bg': darken($brand-error, 5%),
        'border': darken($brand-error, 10%),
        'color': #FFF
    },

    'active': {
        'bg': darken($brand-error, 5%),
        'border': darken($brand-error, 10%),
        'color': #FFF,
        'box-shadow': inset 0 3px 5px rgba(0,0,0,.125)
    },

    'disabled': {
        'bg': #CDA28F,
        'border': #B18876,
        'color': #FFF
    }
};

$type-hash['btn-link'] = {

    'default': {
        'color': $gray-darker
    },

    'hover': {
        'color': $brand-primary
    },

    'disabled': {
        'color': #999
    }

};
