/**
 * @file Calendar
 * @author musicode
 */

$selector-calendar = '.calendar'
$selector-calendar-header = '.header'
$selector-calendar-prev = $selector-icon + '-chevron-left'
$selector-calendar-next = $selector-icon + '-chevron-right'
$selector-calendar-body = '.body'
$selector-calendar-date-adjacent = '.adjacent'

$calendar-bg = $brand-bg
$calendar-font-size = 12px
$calendar-line-height = 1.1666666666666667

$calendar-header-font-size = 14px
$calendar-header-color = #666
$calendar-header-padding-horizontal = 8px
$calendar-header-padding-vertical = 8px

$calendar-date-padding-horizontal = 8px
$calendar-date-padding-vertical = 6px
$calendar-date-adjacent-color = #CCC

$calendar-date-color = #666
$calendar-date-bg-hover = #D8D8D8
$calendar-date-color-hover = #FFF
$calendar-date-bg-active = #D0D0D0
$calendar-date-color-active = #FFF
$calendar-date-bg-checked = #C9C9C9
$calendar-date-color-checked = #FFF

$calendar-date-indicator-color = #666
$calendar-date-indicator-font-size = 14px
$calendar-date-indicator-padding-vertical = 8px


