/**
 * @file 颜色
 * @author musicode
 */

// 灰色
$brand-muted = #989898;
$brand-muted-reversed = #FFF;

$brand-muted-light = #989898;
$brand-muted-light-reversed = #FFF;

$brand-muted-lighter = #989898;
$brand-muted-lighter-reversed = #FFF;

$brand-muted-dark = #989898;
$brand-muted-dark-reversed = #FFF;

$brand-muted-darker = #989898;
$brand-muted-darker-reversed = #FFF;


// 背景色
$bg-color = #E5E5E5;

// 文本色
$text-color = $brand-muted-dark;

// 链接色
$link-color = $text-color;

// 链接悬浮色
$link-color-hover = darken($link-color, 5%);



// 主色
$brand-primary = #428bca;
$brand-primary-reversed = #FFF;

$brand-primary-light = #499ADF;
$brand-primary-light-reversed = #FFF;

$brand-primary-lighter = #57B2FF;
$brand-primary-lighter-reversed = #FFF;

$brand-primary-dark = #3573A8;
$brand-primary-dark-reversed = #FFF;

$brand-primary-darker = #295B85;
$brand-primary-darker-reversed = #FFF;



// 辅色
$brand-secondary = #FFF;
$brand-secondary-reversed = $text-color;

$brand-secondary-light = #FFF;
$brand-secondary-light-reversed = $text-color;

$brand-secondary-lighter = #FFF;
$brand-secondary-lighter-reversed = $text-color;

$brand-secondary-dark = #D1D1D1;
$brand-secondary-dark-reversed = #FFF;

$brand-secondary-darker = #C3C3C3;
$brand-secondary-darker-reversed = #FFF;



// 成功色
$brand-success = #5cb85c;
$brand-success-reversed = #FFF;

$brand-success-light = #56B02A;
$brand-success-light-reversed = #FFF;

$brand-success-lighter = #56B02A;
$brand-success-lighter-reversed = #FFF;

$brand-success-dark = #56B02A;
$brand-success-dark-reversed = #FFF;

$brand-success-darker = #56B02A;
$brand-success-darker-reversed = #FFF;



// 错误色
$brand-error = #F95710;
$brand-error-reversed = #FFF;

$brand-error-light = #F95710;
$brand-error-light-reversed = #FFF;

$brand-error-lighter = #F95710;
$brand-error-lighter-reversed = #FFF;

$brand-error-dark = #F95710;
$brand-error-dark-reversed = #FFF;

$brand-error-darker = #F95710;
$brand-error-darker-reversed = #FFF;



// 信息色
$brand-info = #5bc0de;
$brand-info-reversed = #FFF;

$brand-info-light = #6287D5;
$brand-info-light-reversed = #FFF;

$brand-info-lighter = #6287D5;
$brand-info-lighter-reversed = #FFF;

$brand-info-dark = #4AA2BC;
$brand-info-dark-reversed = #FFF;

$brand-info-darker = #3F8EA6;
$brand-info-darker-reversed = #FFF;



// 警告色
$brand-warning = #f0ad4e;
$brand-warning-reversed = #FFF;

$brand-warning-light = #f0ad4e;
$brand-warning-light-reversed = #FFF;

$brand-warning-lighter = #f0ad4e;
$brand-warning-lighter-reversed = #FFF;

$brand-warning-dark = #f0ad4e;
$brand-warning-dark-reversed = #FFF;

$brand-warning-darker = #f0ad4e;
$brand-warning-darker-reversed = #FFF;



// 危险色
$brand-danger = #d9534f;
$brand-danger-reversed = #FFF;

$brand-danger-light = #d9534f;
$brand-danger-light-reversed = #FFF;

$brand-danger-lighter = #d9534f;
$brand-danger-lighter-reversed = #FFF;

$brand-danger-dark = #d9534f;
$brand-danger-dark-reversed = #FFF;

$brand-danger-darker = #d9534f;
$brand-danger-darker-reversed = #FFF;





