/**
 * @file 颜色
 * @author zhujl
 */

// 主色
$brand-primary = #FF9900;
$brand-primary-light = #E7CF95;
$brand-primary-lighter = #F7F1DC;

// 信息色
$brand-info = #437ec0;
$brand-info-light = #B3CDEA;
$brand-info-lighter = #DBE4F4;

$brand-success = #6cbf31;
$brand-success-light = #BAD6A6;
$brand-success-lighter = #E7FFDB;

$brand-error = #DF4F10;
$brand-error-light = #E8BEAC;
$brand-error-lighter = #FDE3D7;




// 灰度
$gray-darker = #555;

$gray-dark = #888;

$gray-base = #989898;

$gray-light = #CCC;

$gray-lighter = #F8F8F8;


// 背景色
$bg-color = #E5E5E5;

// 文本色
$text-color = $gray-dark;

// 链接色
$link-color = $text-color;

// 链接悬浮色
$link-color-hover = darken($link-color, 5%);
