/**
 * @file 对话框
 * @author zhujl
 */


$dialog-header-bg = #F5F5F5;
$dialog-header-color = #555;
$dialog-header-font-size = $font-size-large;
$dialog-header-font-weight = normal;
$dialog-header-font-family = $font-family-title;

$dialog-header-padding-vertical = 15px;
$dialog-header-padding-horizontal = 20px;


$dialog-body-bg = #FFF;
$dialog-body-padding-vertical = 20px;
$dialog-body-padding-horizontal = 20px;


$dialog-close-color = #CCC;
$dialog-close-color-hover = #999;

$dialog-close-font-size = 30px;
$dialog-close-font-weight = normal;
$dialog-close-top = 13px;
$dialog-close-right = 13px;
$dialog-close-width = 30px;
$dialog-close-height = 30px;


$dialog-mask-bg = rgba(0,0,0,0.3);