/**
 * @file Dialog
 * @author musicode
 */


$selector-dialog = '.dialog'
$selector-dialog-header = '.header'
$selector-dialog-title = '.title'
$selector-dialog-close = '.close'
$selector-dialog-body = '.body'
$selector-dialog-footer = '.footer'
$selector-dialog-draggable = '.draggable'

$dialog-radius = 4px
$dialog-padding-horizontal = 15px
$dialog-header-padding-vertical = 15px
$dialog-body-padding-vertical = 15px
$dialog-footer-padding-vertical = 15px

$dialog-title-font-size = 16px

$dialog-close-font-size = 20px
$dialog-close-top = 11px

$dialog-bg = #fffbf5
$dialog-border = #E4E1DB

$dialog-header-bg = #F6EDE1;
$dialog-header-border = #E8E5E0;
$dialog-footer-border = #E8E5E0;
