/**
 * @file 对话框
 * @author zhujl
 */

$size-hash['dialog-header'] = {

    'base': {
        'border-top-width': 0,
        'border-right-width': 0,
        'border-bottom-width': 1px,
        'border-left-width': 0,
        'border-radius': 0,
        'font-size': $font-size-large,
        'line-height': $line-height-base,
        'padding-vertical': 15px,
        'padding-horizontal': 20px,
    }

};

$size-hash['dialog-close'] = {

    'base': {
        'font-size': 30px,
        'width': 30px,
        'height': 30px,
        'line-height': 30px,
        'padding-vertical': 0,
        'padding-horizontal': 0
    }

};

$size-hash['dialog-body'] = {

    'base': {
        'padding-vertical': 20px,
        'padding-horizontal': 20px,
        'font-size': $font-size-base,
        'line-height': $line-height-base,
    }
}

$type-hash['dialog'] = {

    'default': {
        'bg': #FFF
    }
};

$type-hash['dialog-header'] = {

    'default': {
        'bg': #F5F5F5,
        'color': #555,
        'border': #CCC
    }
};

$type-hash['dialog-close'] = {

    'default': {
        color: #CCC
    },
    'hover': {
        color: #999
    }
};

$type-hash['dialog-mask'] = {

    'default': {
        'bg': #000,
        'opacity': 0.3
    }
};

$dialog-header-font-weight = normal;
$dialog-header-font-family = $font-family-title;

$dialog-close-font-weight = normal;
$dialog-close-top = 13px;
$dialog-close-right = 13px;
