/**
 * @file Dropdown
 * @author musicode
 */

$selector-dropdowns = '.dropdowns'

$selector-dropdown = '.dropdown'
$selector-dropdown-menu = '.menu'
$selector-dropdown-menu-item = '.item'

$dropdown-icon-gap = 10px
$dropdown-menu-gap = 2px
$dropdown-menu-max-height = 172px


