/**
 * @file 下拉菜单
 * @author zhujl
 */

$dropdown-gap = 10px;

$dropdown-menu-bg = #FFF;
$dropdown-menu-border = #CCC;
$dropdown-menu-max-height = 170px;

$dropdown-menu-shadow = 0 2px 4px rgba(0,0,0,0.2);

$dropdown-menu-item-padding-vertical = 6px;
$dropdown-menu-item-padding-horizontal = 12px;

$dropdown-menu-item-color = $text-color;

$dropdown-menu-item-bg-hover = $brand-primary-lighter;
$dropdown-menu-item-color-hover = $text-color;

$dropdown-menu-item-bg-active = $brand-primary;
$dropdown-menu-item-color-active = #FFF;
