/**
 * @file Dropdown
 * @author musicode
 */

$selector-dropdown = '.dropdown'
$selector-dropdown-caret = '.caret'
$selector-dropdown-menu = '.menu'
$selector-dropdown-menu-item = '.item'


$dropdown-caret-gap = 10px;
$dropdown-caret-size = 5px;
$dropdown-caret-color = #666;
$dropdown-caret-top = 8px;




