/**
 * $file 表单元素
 * $author zhujl
 */

$size-hash['form'] = {

    'base': {
        'border-top-width': 0,
        'border-right-width': 0,
        'border-bottom-width': 0,
        'border-left-width': 0,

        'padding-vertical': $padding-vertical-base,
        'padding-horizontal': 0px,
        'font-size': $font-size-base,
        'line-height': $line-height-base
    },

    'tiny': {
        'padding-vertical': $padding-vertical-base,
        'padding-horizontal': 0px,
        'font-size': $font-size-base,
        'line-height': $line-height-base
    },

    'small': {
        'padding-vertical': $padding-vertical-base,
        'padding-horizontal': 0px,
        'font-size': $font-size-base,
        'line-height': $line-height-base
    },

    'large': {
        'padding-vertical': $padding-vertical-base,
        'padding-horizontal': 0px,
        'font-size': $font-size-base,
        'line-height': $line-height-base
    },

    'huge': {
        'padding-vertical': $padding-vertical-base,
        'padding-horizontal': 0px,
        'font-size': $font-size-base,
        'line-height': $line-height-base
    }
};

$size-hash['form-text'] = {

    'base': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base,
        'padding-vertical': $padding-vertical-base,
        'padding-horizontal': $padding-horizontal-base
    },

    'small': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-small,
        'padding-vertical': $padding-vertical-small,
        'padding-horizontal': $padding-horizontal-small
    }
};


$size-hash['form-hint'] = {
    'base': {
        'font-size': $font-size-tiny,
        'padding-vertical': 0,
        'padding-horizontal': 0
    }
};

$type-hash['form-hint'] = {
    'default': {
        'color': $brand-info
    }
};

/**
 * ================================================
 * form-group
 * ================================================
 */
$form-group-gap = 10px;
$form-group-border = none;

/**
 * ================================================
 * form-label
 * ================================================
 */
$form-label-font-weight = normal;
$form-label-gap = 5px;

/**
 * ================================================
 * form-required
 * ================================================
 */
$form-required-color = $brand-error;
$form-required-font-size = $font-size-tiny;
$form-required-gap = 5px;


/**
 * ================================================
 * form-box
 * ================================================
 */
$form-box-inner-gap = 5px;
$form-box-gap = 10px;


/**
 * ================================================
 * form-action
 * ================================================
 */
$form-action-gap = 20px;


/**
 * ================================================
 * form-inline
 * ================================================
 */
$form-inline-gap = 5px;


/**
 * ================================================
 * form-block
 * ================================================
 */
$form-block-gap = 8px;


/**
 * ================================================
 * form-text
 * ================================================
 */
$form-text-color-placeholder = #CCC;

$type-hash['form-text'] = {

    'default': {
        'bg': #FFF,
        'border': #CCC,
        'color': $text-color
    },

    'hover': {
        'bg': #FFF,
        'border': $brand-primary,
        'color': $text-color
    },

    'focus': {
        'bg': #FFF,
        'border': $brand-primary,
        'color': $text-color
    },

    'disabled': {
        'bg': $gray-lighter,
        'border': $gray-light,
        'color': $gray-light
    }
};

$type-hash['input-group-addon'] = {

    'default': {
        'bg': #EFEFEF,
        'border': #CCC,
        'color': $gray-darker
    }
};
