/**
 * @file Image
 * @author musicode
 */

$selector-image = '.image'
$selector-images = '.images'

$image-link-hover-mask-opacity = 0.2

$image-size-base = {
    width: 60px,
    height: 60px,
    radius: 2px,
    margin-vertical: $size-base['margin-vertical'],
    margin-horizontal: $size-base['margin-horizontal']
}

$image-size-tiny = {
    width: 30px,
    height: 30px,
    radius: 2px,
    margin-vertical: $size-tiny['margin-vertical'],
    margin-horizontal: $size-tiny['margin-horizontal']
}

$image-size-small = {
    width: 50px,
    height: 50px,
    radius: 2px,
    margin-vertical: $size-small['margin-vertical'],
    margin-horizontal: $size-small['margin-horizontal']
}

$image-size-large = {
    width: 70px,
    height: 70px,
    radius: 4px,
    margin-vertical: $size-large['margin-vertical'],
    margin-horizontal: $size-large['margin-horizontal']
}

$image-size-huge = {
    width: 100px,
    height: 100px,
    radius: 4px,
    margin-vertical: $size-huge['margin-vertical'],
    margin-horizontal: $size-huge['margin-horizontal']
}


$image-size-hash = {
    '': $image-size-base,
    tiny: $image-size-tiny,
    small: $image-size-small,
    large: $image-size-large,
    huge: $image-size-huge
}