/**
 * @file 图片
 * @author musicode
 */

$image-size-base = {
    width: 80px,
    height: 80px,
    round-size: 50%,
    radius-size: 6px
}

$image-size-tiny = {
    width: 40px,
    height: 40px,
    round-size: 50%,
    radius-size: 4px
}

$image-size-small = {
    width: 60px,
    height: 60px,
    round-size: 50%,
    radius-size: 4px
}

$image-size-large = {
    width: 100px,
    height: 100px,
    round-size: 50%,
    radius-size: 8px
}

$image-size-huge = {
    width: 140px,
    height: 140px,
    round-size: 50%,
    radius-size: 10px
}


$image-size-hash = {
    '': $image-size-base,
    tiny: $image-size-tiny,
    small: $image-size-small,
    large: $image-size-large,
    huge: $image-size-huge
}