/**
 * @file Image
 * @author musicode
 */

$selector-image = '.image'
$selector-images = '.images'

$image-link-hover-mask-opacity = 0.2

$image-size-base = {
    width: 70px,
    height: 70px,
    radius: 6px
}

$image-size-tiny = {
    width: 30px,
    height: 30px,
    radius: 4px
}

$image-size-small = {
    width: 50px,
    height: 50px,
    radius: 4px
}

$image-size-large = {
    width: 100px,
    height: 100px,
    radius: 8px
}

$image-size-huge = {
    width: 140px,
    height: 140px,
    radius: 10px
}


$image-size-hash = {
    '': $image-size-base,
    tiny: $image-size-tiny,
    small: $image-size-small,
    large: $image-size-large,
    huge: $image-size-huge
}