/**
 * @file 标签
 * @author zhujl
 */

// 字体大小
$label-font-size = $font-size-small;



// 默认背景色
$label-default-bg = #FFF;
$label-default-border = $gray-light;
$label-default-color = $gray-dark;

$label-primary-bg = $brand-primary-lighter;
$label-primary-border = $brand-primary-light;
$label-primary-color = $gray-dark;

$label-info-bg = $brand-info-lighter;
$label-info-border = $brand-info-light;
$label-info-color = $gray-dark;

$label-success-bg = $brand-success-lighter;
$label-success-border = $brand-success-light;
$label-success-color = $gray-dark;

$label-error-bg = $brand-error-lighter;
$label-error-border = $brand-error-light;
$label-error-color = $gray-dark;

// 圆角大小
$label-border-radius-base = $border-radius-base;
$label-border-radius-tiny = $border-radius-base;
$label-border-radius-small = $border-radius-base;
$label-border-radius-large = $border-radius-base;
$label-border-radius-huge = $border-radius-base;
