/**
 * @file 标签
 * @author zhujl
 */

$label-font-weight = normal;

// 圆角大小
$label-border-radius-base = $border-radius-base;
$label-border-radius-tiny = $border-radius-base;
$label-border-radius-small = $border-radius-base;
$label-border-radius-large = $border-radius-base;
$label-border-radius-huge = $border-radius-base;


/**
 * ==============================================================
 * default
 * ==============================================================
 */
$label-default-bg = #FFF;
$label-default-border = $gray-light;
$label-default-color = $gray-dark;
$label-default-shadow = none;


/**
 * ==============================================================
 * primary
 * ==============================================================
 */
$label-primary-bg = $brand-primary-lighter;
$label-primary-border = $brand-primary-light;
$label-primary-color = $gray-dark;
$label-primary-shadow = none;


/**
 * ==============================================================
 * info
 * ==============================================================
 */
$label-info-bg = $brand-info-lighter;
$label-info-border = $brand-info-light;
$label-info-color = $gray-dark;
$label-info-shadow = none;


/**
 * ==============================================================
 * success
 * ==============================================================
 */
$label-success-bg = $brand-success-lighter;
$label-success-border = $brand-success-light;
$label-success-color = $gray-dark;
$label-success-shadow = none;


/**
 * ==============================================================
 * error
 * ==============================================================
 */
$label-error-bg = $brand-error-lighter;
$label-error-border = $brand-error-light;
$label-error-color = $gray-dark;
$label-error-shadow = none;
