/**
 * @file Link
 * @author musicode
 */

$selector-link = '.link'
$selector-links = '.links'

$link-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge,
}
