/**
 * @file 列表
 * @author musicode
 */

$selector-list = '.list'
$selector-list-item = '.item'

$list-bg = $brand-bg
$list-item-divider = $brand-divider

$list-brand-hash = {
    primary: {
        color: $brand-text,
        bg-checked: $brand-primary,
        color-checked: #FFF
    },
    secondary: {
        color: $brand-text,
        bg-checked: $brand-text,
        color-checked: #FFF
    },
    success: {
        color: $brand-text,
        bg-checked: $brand-success,
        color-checked: #FFF
    },
    error: {
        color: $brand-text,
        bg-checked: $brand-error,
        color-checked: #FFF
    },
    info: {
        color: $brand-text,
        bg-checked: $brand-info,
        color-checked: #FFF
    },
    warning: {
        color: $brand-text,
        bg-checked: $brand-warning,
        color-checked: #FFF
    },
    danger: {
        color: $brand-text,
        bg-checked: $brand-danger,
        color-checked: #FFF
    },
    muted: {
        color: $brand-text,
        bg-checked: $brand-muted,
        color-checked: #FFF
    }
}

$list-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge
}

$list-radius-hash = {
    '': $radius-base,
    tiny: $radius-tiny,
    small: $radius-small,
    large: $radius-large,
    huge: $radius-huge
}
