/**
 * @file 列表
 * @author zhujl
 */

$list-padding-vertical = 0px;
$list-padding-horizontal = 20px;

$list-bg = #FFF;
$list-border = transparent;


$list-item-bg = $FFF;
$list-item-color = #666;
$list-item-border = #E6E6E6;

$list-item-bg-active = $FFF;
$list-item-color-active = $brand-info;

$list-item-font-size = $font-size-base;

$list-item-padding-vertical = 20px;
$list-item-padding-horizontal = 0;