/**
 * @file 列表
 * @author musicode
 */

$selector-list = '.list'
$selector-list-bordered = '.bordered'

$selector-list-item = '.item'

//$list-bg = #FFF
$list-border = #CCC
$list-item-border = #f0ece7
