 /**
 * @file 消息
 * @author zhujl
 */

$size-hash.message = {

    'font-size-base': $font-size-tiny,
    'border-radius-base': $border-radius-base,

    'font-size-tiny': $font-size-tiny,
    'border-radius-tiny': $border-radius-base,

    'font-size-small': $font-size-tiny,
    'border-radius-small': $border-radius-base,

    'font-size-large': $font-size-tiny,
    'border-radius-large': $border-radius-base,

    'font-size-huge': $font-size-tiny,
    'border-radius-huge': $border-radius-base

};


/**
 * ==============================================================
 * default
 * ==============================================================
 */
$message-default-bg = $gray-lighter;
$message-default-border = $gray-light;
$message-default-color = $text-color;


/**
 * ==============================================================
 * primary
 * ==============================================================
 */
$message-primary-bg = $brand-primary-lighter;
$message-primary-border = $brand-primary-light;
$message-primary-color = $brand-primary;


/**
 * ==============================================================
 * info
 * ==============================================================
 */
$message-info-bg = $brand-info-lighter;
$message-info-border = $brand-info-light;
$message-info-color = $brand-info;


/**
 * ==============================================================
 * success
 * ==============================================================
 */
$message-success-bg = $brand-success-lighter;
$message-success-border = $brand-success-light;
$message-success-color = $brand-success;


/**
 * ==============================================================
 * error
 * ==============================================================
 */
$message-error-bg = $brand-error-lighter;
$message-error-border = $brand-error-light;
$message-error-color = $brand-error;