 /**
 * @file 消息
 * @author zhujl
 */

$size-hash['message'] = {

    'base': {
        'font-size': $font-size-tiny,
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base,
        'font-size': $font-size-tiny
    },

    'tiny': {
        'font-size': $font-size-tiny,
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base,
        'font-size': $font-size-tiny
    },

    'small': {
        'font-size': $font-size-tiny,
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base,
        'font-size': $font-size-tiny
    },

    'large': {
        'font-size': $font-size-tiny,
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base,
        'font-size': $font-size-tiny
    },

    'huge': {
        'font-size': $font-size-tiny,
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'border-radius': $border-radius-base,
        'font-size': $font-size-tiny
    }
};

$type-hash['message-default'] = {
    'default': {
        'bg': $gray-lighter,
        'border': $gray-light,
        'color': $text-color
    }
};

$type-hash['message-primary'] = {
    'default': {
        'bg': $brand-primary-lighter,
        'border': $brand-primary-light,
        'color': $brand-primary
    }
};

$type-hash['message-info'] = {
    'default': {
        'bg': $brand-info-lighter,
        'border': $brand-info-light,
        'color': $brand-info
    }
};

$type-hash['message-success'] = {
    'default': {
        'bg': $brand-success-lighter,
        'border': $brand-success-light,
        'color': $brand-success
    }
};

$type-hash['message-error'] = {
    'default': {
        'bg': $brand-error-lighter,
        'border': $brand-error-light,
        'color': $brand-error
    }
};
