/**
 * @file 消息
 * @author zhujl
 */

$message-primary-bg = $brand-primary-light;
//$message-primary-border = #CCC;
$message-primary-color = $brand-primary;


$message-info-bg = $brand-info-light;
//$message-info-border = $brand-info-light;
$message-info-color = $brand-info;


$message-success-bg = $brand-success-light;
//$message-success-border = $brand-success-light;
$message-success-color = $brand-success;


$message-error-bg = $brand-error-light;
//$message-error-border = $brand-error-light;
$message-error-color = $brand-error;