/**
 * @file 内边距
 * @author zhujl
 */
$padding-vertical-huge = 10px;
$padding-horizontal-huge = 20px;

$padding-vertical-large = 8px;
$padding-horizontal-large = 16px;

$padding-vertical-base = 6px;
$padding-horizontal-base = 12px;

$padding-vertical-small = 4px;
$padding-horizontal-small = 8px;

$padding-vertical-tiny = 2px;
$padding-horizontal-tiny = 4px;