/**
 * @file 翻页
 * @author zhujl
 */

$pager-item-gap = 0;
$pager-item-font-size = $font-size-base;

$pager-item-padding-vertical = 7px;
$pager-item-padding-horizontal = 12px;

$pager-item-bg = #FFF;
$pager-item-border = #DDD;
$pager-item-color = $gray-dark;

$pager-item-bg-hover = $pager-item-bg;
$pager-item-border-hover = $brand-primary;
$pager-item-color-hover = $pager-item-color;

$pager-item-bg-active = $brand-primary;
$pager-item-border-active = $brand-primary;
$pager-item-color-active = #FFF;


$pager-ellipsis-padding-vertical = 8px;
$pager-ellipsis-padding-horizontal = 10px;