/**
 * @file 翻页
 * @author zhujl
 */

$pager-item-gap = 0;

$size-hash['pager-btn'] = {

    'base': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'font-size': $font-size-base,
        'padding-vertical': 6px,
        'padding-horizontal': 13px
    }
};

$size-hash['pager-ellipsis'] = {
    'base': {
        'font-size': $font-size-base,
        'padding-vertical': 7px,
        'padding-horizontal': 10px
    }
};

$type-hash['pager-btn'] = {

    'default': {
        'bg': #FFF,
        'border': #DDD,
        'color': $gray-dark
    }

    'hover': {
        'bg': #FFF,
        'border': $brand-primary,
        'color': $brand-primary
    },

    'active': {
        'bg': $brand-primary,
        'border': $brand-primary,
        'color': #FFF
    }
};




