/**
 * @file 进度条
 * @author musicode
 */

$progress-bg = #EEE;

$progress-tiny-height = 10px;
$progress-small-height = 10px;
$progress-base-height = 10px;
$progress-large-height = 10px;
$progress-huge-height = 10px;
