/**
 * @file 进度条
 * @author zhujl
 */

$size-hash.progress = {

    'font-size-base': 12px,
    'height-base': 12px,
    'padding-vertical-base': 0px,
    'padding-horizontal-base': 0px,
    'border-radius-base': 2px,

    'font-size-tiny': 12px,
    'height-tiny': 4px,
    'padding-vertical-tiny': 0px,
    'padding-horizontal-tiny': 0px,
    'border-radius-tiny': 2px,

    'font-size-small': 12px,
    'height-small': 8px,
    'padding-vertical-small': 0px,
    'padding-horizontal-small': 0px,
    'border-radius-small': 2px,

    'font-size-large': 12px,
    'height-large': 16px,
    'padding-vertical-large': 0px,
    'padding-horizontal-large': 0px,
    'border-radius-large': 4px,

    'font-size-huge': 12px,
    'height-huge': 20px,
    'padding-vertical-huge': 0px,
    'padding-horizontal-huge': 0px,
    'border-radius-huge': 4px

};

$progress-bg = #F5F5F5;
$progress-color = #FFF;
$progress-shadow = inset 0 1px 2px rgba(0,0,0,.1);

$progress-bar-shadow = inset 0 -1px 0 rgba(0,0,0,.15);

/**
 * ==============================================================
 * primary
 * ==============================================================
 */
$progress-bar-primary-bg = $brand-primary;


/**
 * ==============================================================
 * info
 * ==============================================================
 */
$progress-bar-info-bg = $brand-info;


/**
 * ==============================================================
 * success
 * ==============================================================
 */
$progress-bar-success-bg = $brand-success;


/**
 * ==============================================================
 * error
 * ==============================================================
 */
$progress-bar-error-bg = $brand-error;

