/**
 * @file 进度条
 * @author zhujl
 */



$progress-bg = #F5F5F5;
$progress-color = #FFF;
$progress-font-size = 12px;
$progress-shadow = inset 0 1px 2px rgba(0,0,0,.1);

$progress-bar-shadow = inset 0 -1px 0 rgba(0,0,0,.15);

$progress-height-base = 12px;
$progress-height-tiny = 4px;
$progress-height-small = 8px;
$progress-height-large = 16px;
$progress-height-huge = 20px;

$progress-border-radius-base = 2px;
$progress-border-radius-tiny = 2px;
$progress-border-radius-small = 2px;
$progress-border-radius-large = 4px;
$progress-border-radius-huge = 4px;

/**
 * ==============================================================
 * default
 * ==============================================================
 */
$progress-bar-default-bg = $brand-default;


/**
 * ==============================================================
 * primary
 * ==============================================================
 */
$progress-bar-primary-bg = $brand-primary;


/**
 * ==============================================================
 * info
 * ==============================================================
 */
$progress-bar-info-bg = $brand-info;


/**
 * ==============================================================
 * success
 * ==============================================================
 */
$progress-bar-success-bg = $brand-success;


/**
 * ==============================================================
 * error
 * ==============================================================
 */
$progress-bar-error-bg = $brand-error;

