/**
 * @file 尺寸
 * @author musicode
 */

$radius-base = {
    '': 0,
    round: 17px,
    radius: 2px
}

$radius-tiny = {
    '': 0,
    round: 10px,
    radius: 2px
}

$radius-small = {
    '': 0,
    round: 13px,
    radius: 2px
}

$radius-large = {
    '': 0,
    round: 22px,
    radius: 4px
}

$radius-huge = {
    '': 0,
    round: 25px,
    radius: 4px
}

$radius-hash = {

    '': $radius-base,

    tiny: $radius-tiny,
    small: $radius-small,
    large: $radius-large,
    huge: $radius-huge

}

