/**
 * @file 尺寸
 * @author musicode
 */

$size-base = {
    font-size: 14px,
    line-height: 1.6,
    padding-horizontal: 14px,
    padding-vertical: 6px,
    round-size: 18px,
    radius-size: 2px
}

$size-tiny = {
    font-size: 12px,
    line-height: 1,
    padding-horizontal: 4px,
    padding-vertical: 2px,
    round-size: 9px,
    radius-size: 2px
}

$size-small = {
    font-size: 12px,
    line-height: 1.2,
    padding-horizontal: 8px,
    padding-vertical: 4px,
    round-size: 12px,
    radius-size: 2px
}

$size-large = {
    font-size: 16px,
    line-height: 1.8,
    padding-horizontal: 18px,
    padding-vertical: 8px,
    round-size: 23px,
    radius-size: 4px
}

$size-huge = {
    font-size: 18px,
    line-height: 2,
    padding-horizontal: 24px,
    padding-vertical: 10px,
    round-size: 29px,
    radius-size: 6px
}

$size-hash = {

    '': $size-base,

    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge

}
