/**
 * @file 尺寸
 * @author musicode
 */

// base 是页面基准大小，比如 body { font-size: $base-font-size; }
$base-padding-horizontal = 16px;
$base-padding-vertical = 6px;
$base-font-size = 14px;
$base-line-height = 1.6;
$base-round-size = 18px;
$base-radius-size = 2px;
$base-border-width = 1px;


$tiny-padding-horizontal = 6px;
$tiny-padding-vertical = 2px;
$tiny-font-size = 12px;
$tiny-line-height = 1.2;
$tiny-round-size = 11px;
$tiny-radius-size = 2px;
$tiny-border-width = 1px;


$small-padding-horizontal = 12px;
$small-padding-vertical = 4px;
$small-font-size = 14px;
$small-line-height = 1.3;
$small-round-size = 14px;
$small-radius-size = 2px;
$small-border-width = 1px;


$large-padding-horizontal = 20px;
$large-padding-vertical = 10px;
$large-font-size = 16px;
$large-line-height = 1.8;
$large-round-size = 25px;
$large-radius-size = 6px;
$large-border-width = 1px;


$huge-padding-horizontal = 24px;
$huge-padding-vertical = 16px;
$huge-font-size = 18px;
$huge-line-height = 2;
$huge-round-size = 35px;
$huge-radius-size = 8px;
$huge-border-width = 1px;
