/**
 * @file 尺寸
 * @author musicode
 */

$size-base = {
    font: 14px,
    line-height: 1.6,
    margin-horizontal: 8px,
    margin-vertical: 8px,
    padding-horizontal: 12px,
    padding-vertical: 6px,
    round: 20px,
    radius: 4px,
    caret: 8px
}

$size-tiny = {
    font: 12px,
    line-height: 1,
    margin-horizontal: 4px,
    margin-vertical: 4px,
    padding-horizontal: 6px,
    padding-vertical: 4px,
    round: 13px,
    radius: 2px,
    caret: 4px
}

$size-small = {
    font: 12px,
    line-height: 1.2,
    margin-horizontal: 6px,
    margin-vertical: 6px,
    padding-horizontal: 10px,
    padding-vertical: 6px,
    round: 15px,
    radius: 3px,
    caret: 6px
}

$size-large = {
    font: 16px,
    line-height: 1.8,
    margin-horizontal: 12px,
    margin-vertical: 12px,
    padding-horizontal: 17px,
    padding-vertical: 8px,
    round: 25px,
    radius: 5px,
    caret: 10px
}

$size-huge = {
    font: 18px,
    line-height: 2,
    margin-horizontal: 14px,
    margin-vertical: 14px,
    padding-horizontal: 22px,
    padding-vertical: 10px,
    round: 30px,
    radius: 6px,
    caret: 12px
}

$size-hash = {

    '': $size-base,

    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge

}
