/**
 * @file 标签页
 * @author zhujl
 */

$size-hash['tab-nav-default'] = {

    'base': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'padding-vertical': 0,
        'padding-horizontal': 0
    }

};

$type-hash['tab-nav-default'] = {

    'default': {
        'bg': #F8F8F8,
        'border': #DDD
    }

};

$size-hash['tab-item-default'] = {

    'base': {
        'border-left-width': 1px,
        'border-right-width': 1px,
        'padding-vertical': 12px,
        'padding-horizontal': 38px
    }

};

$type-hash['tab-item-default'] = {

    'default': {
        'color': $gray-darker
    },

    'hover': {
        'bg': #FFF,
        'color': $brand-primary,
        'border': #DDD
    },

    'active': {
        'bg': #FFF,
        'color': $brand-primary,
        'border': #DDD
    }

};



$size-hash['tab-nav-primary'] = {

    'base': {
        'border-bottom-width': 1px,
        'font-size': 0,
        'padding-vertical': 0,
        'padding-horizontal': 0
    }
};

$type-hash['tab-nav-primary'] = {
    'default': {
        'border': #CCC
    }
};

$size-hash['tab-item-primary'] = {
    'base': {
        'border-bottom-width': 4px,
        'padding-vertical': 12px,
        'padding-horizontal': 36px
    }
};

$type-hash['tab-item-primary'] = {

    'default': {
        'color': $gray-darker
    },

    'hover': {
        'color': $brand-primary,
        'border': $brand-primary
    },

    'active': {
        'color': $brand-primary,
        'border': $brand-primary
    }
};

$size-hash['tab-nav-info'] = {

    'base': {
        'border-bottom-width': 1px,
        'font-size': 0,
        'padding-vertical': 0,
        'padding-horizontal': 0
    }
};

$type-hash['tab-nav-info'] = {
    'default': {
        'border': #CCC
    }
};

$size-hash['tab-item-info'] = {
    'base': {
        'border-bottom-width': 4px,
        'padding-vertical': 12px,
        'padding-horizontal': 36px
    }
};

$type-hash['tab-item-info'] = {

    'default': {
        'color': $gray-darker
    },

    'hover': {
        'color': $brand-info,
        'border': $brand-info
    },

    'active': {
        'color': $brand-info,
        'border': $brand-info
    }
};
