/**
 * @file 标签页
 * @author zhujl
 */

$size-hash['nav-item'] = {

    'border-radius-base': 0px,
    'border-radius-tiny': 0px,
    'border-radius-small': 0px,
    'border-radius-large': 0px,
    'border-radius-huge': 0px

};

$tab-nav-primary-border = #CCC;

$tab-item-primary-color = $gray-darker;

$tab-item-primary-color-hover = $brand-primary;
$tab-item-primary-border-hover = $brand-primary;

$tab-item-primary-color-active = $brand-primary;
$tab-item-primary-border-active = $brand-primary;


$tab-nav-info-border = #CCC;

$tab-item-info-color = $gray-darker;

$tab-item-info-color-hover = $brand-info;
$tab-item-info-border-hover = $brand-info;

$tab-item-info-color-active = $brand-info;
$tab-item-info-border-active = $brand-info;