/**
 * @file 标签页
 * @author zhujl
 */

$size-hash['nav-item'] = {

    'padding-vertical-base': 12px,
    'padding-horizontal-base': 36px,

    'border-radius-base': 0px,
    'border-radius-tiny': 0px,
    'border-radius-small': 0px,
    'border-radius-large': 0px,
    'border-radius-huge': 0px

};

$tab-nav-default-bg = #F8F8F8;
$tab-nav-default-border = #DDD;

$tab-item-default-color = $gray-darker;

$tab-item-default-color-hover = $gray-darker;
$tab-item-default-border-hover = $brand-default;

$tab-item-default-color-active = $brand-default;
$tab-item-default-border-active = $brand-default;



$tab-nav-primary-border = #CCC;

$tab-item-primary-color = $gray-darker;

$tab-item-primary-color-hover = $brand-primary;
$tab-item-primary-border-hover = $brand-primary;

$tab-item-primary-color-active = $brand-primary;
$tab-item-primary-border-active = $brand-primary;


$tab-nav-info-border = #CCC;

$tab-item-info-color = $gray-darker;

$tab-item-info-color-hover = $brand-info;
$tab-item-info-border-hover = $brand-info;

$tab-item-info-color-active = $brand-info;
$tab-item-info-border-active = $brand-info;