/**
 * @file Table
 * @author musicode
 */

$selector-table = '.table'
$selector-table-striped = '.striped'
$selector-table-bordered = '.bordered'
$selector-table-row-bordered = '.row-bordered'
$selector-table-col-bordered = '.col-bordered'

$table-head-bg = #fbfbfb
$table-head-color = #4e4e4e
$table-head-border = #DDD
$table-head-align = center
$table-head-cell-padding-horizontal = 16px
$table-head-cell-padding-vertical = 8px

$table-body-bg = #FFF
$table-body-color = #6e6e6e
$table-body-border = #eee
$table-body-align = center
$table-body-cell-padding-horizontal = 10px
$table-body-cell-padding-vertical = 10px

$table-body-even-row-bg = #FAFAFA

