/**
 * @file 表格
 * @author musicode
 */

$type-hash['table-header'] = {

    'default': {
        'bg': #edf3fd,
        'color': $brand-muted-darker
    }
};

$type-hash['table-body'] = {
    'default': {
        'color': $text-color
    }
};

$size-hash['table-header-cell'] = {

    'base': {
        'padding-vertical': 10px,
        'padding-horizontal': 10px
    }
};

$size-hash['table-body-cell'] = {

    'base': {
        'padding-vertical': 10px,
        'padding-horizontal': 10px
    }
};

$table-header-align = center;
$table-body-align = center;

$table-body-odd-row-bg = #FFF;
$table-body-even-row-bg = #FFF;
$table-body-row-border = $brand-muted-light;
