/**
 * @file Table
 * @author musicode
 */

$selector-table = '.table'
$selector-table-striped = '.striped'
$selector-table-cell-bordered = '.cell-bordered'
$selector-table-row-bordered = '.row-bordered'
$selector-table-col-bordered = '.col-bordered'

$table-head-align = center
$table-head-cell-padding-horizontal = 16px
$table-head-cell-padding-vertical = 8px

$table-body-align = center
$table-body-cell-padding-horizontal = 10px
$table-body-cell-padding-vertical = 10px

$table-head-bg = #F6F3ED
$table-body-even-row-bg = #F8F3ED

$table-brand-hash = {
    primary: {
        bg: $brand-primary,
        color: #FFF
    },
    secondary: {
        bg: #FFF,
        color: $brand-text
    },
    success: {
        bg: $brand-success,
        color: #FFF
    },
    error: {
        bg: $brand-error,
        color: #FFF
    },
    info: {
        bg: $brand-info,
        color: #FFF
    },
    warning: {
        bg: $brand-warning,
        color: #FFF
    },
    danger: {
        bg: $brand-danger,
        color: #FFF
    },
    muted: {
        bg: $brand-muted,
        color: $brand-text
    }
}