/**
 * @file 缩略图
 * @author zhujl
 */



$thumbnail-bg = #FFF;

$thumbnail-border = #DDD;
$thumbnail-shadow = none;

$thumbnail-caption-font-size = $font-size-base;
$thumbnail-caption-color = $text-color;
$thumbnail-caption-gap = 5px;

$thumbnail-mask-hover = rgba(0,0,0,0.3);

$thumbnail-width-base = 80px;
$thumbnail-height-base = 80px;
$thumbnail-padding-base = 1px;
$thumbnail-round-base = 6px;
$thumbnail-circle-base = 0.5 * $thumbnail-width-base;


$thumbnail-width-tiny = 50px;
$thumbnail-height-tiny = 50px;
$thumbnail-padding-tiny = 1px;
$thumbnail-round-tiny = 6px;
$thumbnail-circle-tiny = 0.5 * $thumbnail-width-tiny;


$thumbnail-width-small = 60px;
$thumbnail-height-small = 60px;
$thumbnail-padding-small = 1px;
$thumbnail-round-small = 6px;
$thumbnail-circle-small = 0.5 * $thumbnail-width-small;


$thumbnail-width-large = 120px;
$thumbnail-height-large = 120px;
$thumbnail-padding-large = 1px;
$thumbnail-round-large = 6px;
$thumbnail-circle-large = 0.5 * $thumbnail-width-large;


$thumbnail-width-huge = 150px;
$thumbnail-height-huge = 150px;
$thumbnail-padding-huge = 1px;
$thumbnail-round-huge = 6px;
$thumbnail-circle-huge = 0.5 * $thumbnail-width-huge;
