/**
 * @file 缩略图
 * @author zhujl
 */

$thumbnail-border = #DDD;
$thumbnail-border-top-width = 1px;
$thumbnail-border-right-width = 1px;
$thumbnail-border-bottom-width = 1px;
$thumbnail-border-left-width = 1px;

$thumbnail-padding-vertical = 0px;
$thumbnail-padding-horizontal = 0px;
$thumbnail-font-size = 12px;
$thumbnail-line-height = 0px;

$thumbnail-round = 4px;
$thumbnail-round-inner = 2px;

$thumbnail-circle = 50%;
$thumbnail-circle-inner = 50%;


$thumbnail-width-base = 80px;
$thumbnail-height-base = 80px;

$thumbnail-width-tiny = 50px;
$thumbnail-height-tiny = 50px;

$thumbnail-width-small = 60px;
$thumbnail-height-small = 60px;

$thumbnail-width-large = 120px;
$thumbnail-height-large = 120px;

$thumbnail-width-huge = 150px;
$thumbnail-height-huge = 150px;

$thumbnail-title-gap = 8px;

$thumbnail-bg-hover = #000;
$thumbnail-opacity-hover = 0.3;


$size-hash['thumbnail'] = {

    'base': {
        'border-top-width': $thumbnail-border-top-width,
        'border-right-width': $thumbnail-border-right-width,
        'border-bottom-width': $thumbnail-border-bottom-width,
        'border-left-width': $thumbnail-border-left-width,
        'width': $thumbnail-width-base,
        'height': $thumbnail-height-base,
        'font-size': $thumbnail-font-size,
        'line-height': $thumbnail-line-height,
        'padding-vertical': $thumbnail-padding-vertical,
        'padding-horizontal': $thumbnail-padding-horizontal
    },

    'tiny': {
        'border-top-width': $thumbnail-border-top-width,
        'border-right-width': $thumbnail-border-right-width,
        'border-bottom-width': $thumbnail-border-bottom-width,
        'border-left-width': $thumbnail-border-left-width,
        'width': $thumbnail-width-tiny,
        'height': $thumbnail-height-tiny,
        'font-size': $thumbnail-font-size,
        'line-height': $thumbnail-line-height,
        'padding-vertical': $thumbnail-padding-vertical,
        'padding-horizontal': $thumbnail-padding-horizontal
    },

    'small': {
        'border-top-width': $thumbnail-border-top-width,
        'border-right-width': $thumbnail-border-right-width,
        'border-bottom-width': $thumbnail-border-bottom-width,
        'border-left-width': $thumbnail-border-left-width,
        'width': $thumbnail-width-small,
        'height': $thumbnail-height-small,
        'font-size': $thumbnail-font-size,
        'line-height': $thumbnail-line-height,
        'padding-vertical': $thumbnail-padding-vertical,
        'padding-horizontal': $thumbnail-padding-horizontal
    },

    'large': {
        'border-top-width': $thumbnail-border-top-width,
        'border-right-width': $thumbnail-border-right-width,
        'border-bottom-width': $thumbnail-border-bottom-width,
        'border-left-width': $thumbnail-border-left-width,
        'width': $thumbnail-width-large,
        'height': $thumbnail-height-large,
        'font-size': $thumbnail-font-size,
        'line-height': $thumbnail-line-height,
        'padding-vertical': $thumbnail-padding-vertical,
        'padding-horizontal': $thumbnail-padding-horizontal
    },

    'huge': {
        'border-top-width': $thumbnail-border-top-width,
        'border-right-width': $thumbnail-border-right-width,
        'border-bottom-width': $thumbnail-border-bottom-width,
        'border-left-width': $thumbnail-border-left-width,
        'width': $thumbnail-width-huge,
        'height': $thumbnail-height-huge,
        'font-size': $thumbnail-font-size,
        'line-height': $thumbnail-line-height,
        'padding-vertical': $thumbnail-padding-vertical,
        'padding-horizontal': $thumbnail-padding-horizontal
    }

};

$type-hash['thumbnail'] = {
    'default': {
        'bg': #FFF,
        'border': $thumbnail-border
    }
};


$size-hash['thumbnail-title'] = {
    'base': {
        'font-size': 12px,
        'line-height': 1,
        'padding-vertical': 0,
        'padding-horizontal': 0
    }
};

$type-hash['thumbnail-title'] = {

    'default': {
        'color': $text-color
    }
};



