/**
 * @file 缩略图
 * @author zhujl
 */

$size-hash.thumbnail = {

    'width-base': 80px,
    'height-base': 80px,
    'font-size-base': 12px,
    'line-height-base': 0px,
    'padding-vertical-base': 1px,
    'padding-horizontal-base': 1px,
    'border-radius-base': 0px,

    'width-tiny': 50px,
    'height-tiny': 50px,
    'font-size-tiny': 12px,
    'line-height-tiny': 0px,
    'padding-vertical-tiny': 1px,
    'padding-horizontal-tiny': 1px,
    'border-radius-tiny': 0px,

    'width-small': 60px,
    'height-small': 60px,
    'font-size-small': 12px,
    'line-height-small': 0px,
    'padding-vertical-small': 1px,
    'padding-horizontal-small': 1px,
    'border-radius-small': 0px,

    'width-large': 120px,
    'height-large': 120px,
    'font-size-large': 12px,
    'line-height-large': 0px,
    'padding-vertical-large': 1px,
    'padding-horizontal-large': 1px,
    'border-radius-large': 0px,

    'width-huge': 150px,
    'height-huge': 150px,
    'font-size-huge': 12px,
    'line-height-huge': 0px,
    'padding-vertical-huge': 1px,
    'padding-horizontal-huge': 1px,
    'border-radius-huge': 0px

};


$thumbnail-bg = #FFF;

$thumbnail-border = #DDD;
$thumbnail-shadow = none;

$thumbnail-caption-color = $text-color;
$thumbnail-caption-gap = 8px;

$thumbnail-mask-hover = rgba(0,0,0,0.3);


