/**
 * @file 工具提示
 * @author zhujl
 */

$tooltip-bg = #FFF;
$tooltip-color = $gray-darker;

$tooltip-arrow-size = 5px;

$size-hash['tooltip'] = {

    'base': {
        'border-top-width': 1px,
        'border-right-width': 1px,
        'border-bottom-width': 1px,
        'border-left-width': 1px,
        'font-size': 12px,
        'padding-vertical': 5px,
        'padding-horizontal': 12px,
        'border-radius': 4px
    }

};

$type-hash['tooltip-default'] = {
    'default': {
        'bg': $tooltip-bg,
        'border': #CCC,
        'color': $tooltip-color,
        'box-shadow': 1px 1px 2px rgba(0,0,0,0.1)
    },
};

$type-hash['tooltip-inverted'] = {
    'default': {
        'bg': $tooltip-color,
        'border': darken($tooltip-color, 10%),
        'color': $tooltip-bg,
        'box-shadow': 1px 1px 2px rgba(0,0,0,0.2)
    }
};
