/**
 * @file Tooltip
 * @author musicode
 */

$selector-tooltip = '.tooltip'

$tooltip-font-size = 12px;
$tooltip-padding-vertical = 2px
$tooltip-padding-horizontal = 6px
$tooltip-arrow-size = 5px
$tooltip-radius-size = 2px

$tooltip-color = #6C6C6C;
$tooltip-bg = #FFF;

