/**
 * @file 工具提示
 * @author zhujl
 */

$tooltip-bg = #555;
$tooltip-border = none

$size-hash['tooltip'] = {

    'base': {
        'font-size': 12px,
        'padding-vertical': 5px,
        'padding-horizontal': 12px,
        'border-radius': 4px
    }
};

$type-hash['tooltip'] = {

    'default': {
        'bg': #555,
        'border': none,
        'color': #FFF,
        'shadow': 1px 1px 1px rgba(0,0,0,0.2)
    }
};
