/**
 * @file 排版
 * @author musicode
 */

// 背景色
$bg-color = #F6F6F6;

// 文本色
$text-color = $brand-muted['dark'];

// 链接色
$link-color = $text-color;

// 链接悬浮色
$link-color-hover = darken($link-color, 5%);


// 标题字体
$font-family-title = PingHei, "Hiragino Sans GB", "Microsoft YaHei";

// 正文字体
$font-family-text = $font-family-title; //arial;

// 代码字体
$font-family-code = Menlo, Monaco, Consolas, "Courier New", monospace;