/**
 * @file 排版
 * @author musicode
 */

// 标题字体
$font-family-title = PingHei, "Hiragino Sans GB", "Microsoft YaHei"

// 正文字体
$font-family-text = $font-family-title

// 代码字体
$font-family-code = Menlo, Monaco, Consolas, "Courier New", monospace
