@import "./src/muse.styl";

body {
    padding: 20px;
}

section {
    background-color: #F9F7F2;
    padding: 1rem;
    box-shadow: $box-shadow;
    + section {
        margin-top: 1rem;
    }
}

h1 {
    font-size: $font-size-h1;
    margin-bottom: 1rem;
}
h2 {
    font-size: $font-size-h2;
    margin: 2rem 0;
}

.form-label {
    width: 150px;
    text-align: right;
}

.dialog {
    position: relative;
}

.group {
    margin-top: 14px;
}

.progress,
.message-default,
.message-primary,
.message-info,
.message-success,
.message-error {
    margin-top: 7px;
}

.dropdown {
    width: 12em;
}











