@import "./src/muse.styl";

body {
    padding: 20px;
}

.btn-huge {
    btn-huge();
}
.btn-large {
    btn-large();
}
.btn {
    btn-base();
}
.btn-small {
    btn-small();
}
.btn-tiny {
    btn-tiny();
}

.btn-default {
    btn-default();
}

.btn-primary {
    btn-primary();
}

.btn-info {
    btn-info();
}

.btn-warning {
    btn-warning();
}

.btn-success {
    btn-success();
}

.btn-error {
    btn-error();
}

.btn-link {
    btn-link();
}












.label-huge {
    label-huge();
}
.label-large {
    label-large();
}
.label {
    label-base();
}
.label-small {
    label-small();
}
.label-tiny {
    label-tiny();
}

.label-default {
    label-default();
}

.label-primary {
    label-primary();
}

.label-info {
    label-info();
}

.label-warning {
    label-warning();
}

.label-success {
    label-success();
}

.label-error {
    label-error();
}










.badge-huge {
    badge-huge();
}
.badge-large {
    badge-large();
}
.badge {
    badge-base();
}
.badge-small {
    badge-small();
}
.badge-tiny {
    badge-tiny();
}

.badge-default {
    badge-default();
}

.badge-primary {
    badge-primary();
}

.badge-info {
    badge-info();
}

.badge-warning {
    badge-warning();
}

.badge-success {
    badge-success();
}

.badge-error {
    badge-error();
}
