/**
 * @file Badge
 * @author musicode
 */

$selector-badge = '.badge'
$selector-badges = '.badges'

$badge-brand-hash = {
    primary: {
        bg: $brand-primary,
        color: #FFF
    },
    error: {
        bg: $brand-error,
        color: #FFF
    },
    info: {
        bg: $brand-info,
        color: #FFF
    }
}

$badge-size-hash = {
    tiny: $size-tiny,
    small: $size-small
}

$badge-radius-hash = {
    tiny: $radius-tiny['round'],
    small: $radius-small['round']
}
