/**
 * @file 颜色
 * @author musicode
 */

// $brand-bg = #FFFDFA
// $brand-bg-hover = #FFFBF5
// $brand-bg-active = #FEF8EE
// $brand-bg-checked = #F8F1E7
// $brand-bg-disabled = #F8F8F8

$brand-bg = #FFF
$brand-bg-hover = #F9F9F9
$brand-bg-active = #F6F6F6
$brand-bg-checked = #F3F3F3
$brand-bg-disabled = #FCFCFC

$brand-text = #555
$brand-text-disabled = #C7C7C7

$brand-border = #CCC
$brand-border-disabled = #DDD

$brand-link = #666
$brand-link-hover = #f90
$brand-link-disabled = #BBB

$brand-divider = #EEE

$brand-muted = #a3a3a3
$brand-primary = #f90
$brand-secondary = #FFF
$brand-success = #5FB41B
$brand-error = #F95710
$brand-info = #6187dc
$brand-warning = #f0ad4e
$brand-danger = #d9534f

$brand-hash = {
    primary: $brand-primary,
    secondary: $brand-secondary,
    success: $brand-success,
    error: $brand-error,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger,
    muted: $brand-muted
}
