/**
 * @file Dialog
 * @author musicode
 */

$selector-dialog = '.dialog'
$selector-dialog-header = '.header'
$selector-dialog-title = '.title'
$selector-dialog-close = '.close'
$selector-dialog-body = '.body'
$selector-dialog-footer = '.footer'
$selector-dialog-draggable = '.draggable'

$dialog-min-width = 360px

$dialog-radius = 2px
$dialog-padding-horizontal = 15px

$dialog-header-padding-vertical = 10px
$dialog-body-padding-vertical = 15px
$dialog-footer-padding-vertical = 10px

$dialog-title-font-size = 16px

$dialog-close-font-size = 26px
$dialog-close-top = 3px

$dialog-bg = $brand-bg
$dialog-border = $brand-border
$dialog-header-divider = #CCC
$dialog-footer-divider = $brand-divider
$dialog-footer-text-align = center
$dialog-box-shadow = $layer-box-shadow

$dialog-header-bg = #f5f5f5
$dialog-header-color = #222

$dialog-brand-hash = {
    primary: {
        bg: $brand-primary,
        color: #FFF
    },
    success: {
        bg: $brand-success,
        color: #FFF
    },
    error: {
        bg: $brand-error,
        color: #FFF
    },
    info: {
        bg: $brand-info,
        color: #FFF
    },
    warning: {
        bg: $brand-warning,
        color: #FFF
    },
    danger: {
        bg: $brand-danger,
        color: #FFF
    }
}
