/**
 * @file Dropdown
 * @author musicode
 */

$selector-dropdowns = '.dropdowns'

$selector-dropdown = '.dropdown'
$selector-dropup = '.dropup'

$selector-dropdown-menu = '.menu'
$selector-dropdown-menu-item = '.item'

$dropdown-icon-gap = 10px
$dropdown-menu-gap = 0
$dropdown-menu-max-height = 176px

$dropdown-menu-box-shadow = $layer-box-shadow

$dropdown-menu-bg = $brand-bg
$dropdown-menu-border = $brand-border
$dropdown-menu-padding-vertival = 0
$dropdown-menu-padding-horizontal = 0

$dropdown-menu-item-bg-hover = $brand-bg-hover
$dropdown-menu-item-bg-active = $brand-bg-active
$dropdown-menu-item-bg-checked = $brand-bg-checked

$dropdown-menu-item-divider = null

$dropdown-brand-hash = {
    '': {
        bg-active: #EEE,
        border-active: #e0e0e0,
        color-active: #222
    }
}

$dropdown-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small
}

$dropdown-radius-hash = {
    '': $radius-base,
    tiny: $radius-tiny,
    small: $radius-small
}