/**
 * $file Form
 * $author musicode
 */

$selector-form = '.form'
$selector-form-input = '.input'
$selector-form-inputs = '.inputs'
$selector-form-input-group = '.input-group'
$selector-form-menu = '.menu'
$selector-form-placeholder = '.placeholder'
$selector-form-group = '.group'
$selector-form-footer = '.footer'
$selector-form-controls = '.controls'
$selector-form-radio = '.radio'
$selector-form-radios = '.radios'
$selector-form-checkbox = '.checkbox'
$selector-form-checkboxes = '.checkboxes'


$form-input-bg = #FFF
$form-input-border-hover-lighten = 30%

$form-input-bg-disabled = #EEE
$form-input-border-disabled = #CCC
$form-input-color-disabled = #999

$form-placeholder-color = #CCC

$form-input-icon-width = 30px

$form-menu-bg = $brand-bg
$form-menu-gap = 0
$form-menu-box-shadow = $layer-box-shadow

$form-group-gap-inline = 8px
$form-group-gap-block = 15px

$form-control-gap-inline = 8px
$form-control-gap-block = 8px

$form-box-text-gap = 6px

$form-footer-gap-vertical = 30px

$form-box-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small
}

$form-input-height-hash = {
    '': 36px,
    tiny: 20px,
    small: 26px
}

$form-input-brand-hash = {
    primary: {
        bg: $form-input-bg,
        border: $brand-primary
    },
    secondary: {
        bg: #FFF,
        border: $brand-border
    },
    success: {
        bg: $form-input-bg,
        border: $brand-success
    },
    error: {
        bg: $form-input-bg,
        border: $brand-error
    }
}

$form-input-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small
}

$form-input-radius-hash = {
    '': $radius-base,
    tiny: $radius-tiny,
    small: $radius-small
}

