/**
 * @file Progress
 * @author musicode
 */

$selector-progress = '.progress'
$selector-progress-meter = '.meter'

$progress-bg = #EEE
$progress-border = darken($progress-bg, 1%)
$progress-color = #FFF

$progress-brand-hash = {
    primary: $brand-primary,
    error: $brand-error,
    info: $brand-info
}

$progress-size-hash = {
    '': $size-base,
    small: $size-small
}

$progress-radius-hash = {
    '': $radius-base,
    small: $radius-small
}
