/**
 * @file Tabs
 * @author musicode
 */

$selector-tab = '.tab'
$selector-tabs = '.tabs'

$tab-color = #222

$tabs-brand-hash = {
    primary: {
        color: $tab-color,
        color-hover: $brand-primary,
        color-active: $brand-primary,
        color-checked: $brand-primary
    },
    secondary: {
        color: $tab-color,
        color-hover: $brand-secondary,
        color-active: $brand-secondary,
        color-checked: $brand-secondary
    },
    success: {
        color: $tab-color,
        color-hover: $brand-success,
        color-active: $brand-success,
        color-checked: $brand-success
    },
    error: {
        color: $tab-color,
        color-hover: $brand-error,
        color-active: $brand-error,
        color-checked: $brand-error
    },
    info: {
        color: $tab-color,
        color-hover: $brand-info,
        color-active: $brand-info,
        color-checked: $brand-info
    },
    warning: {
        color: $tab-color,
        color-hover: $brand-warning,
        color-active: $brand-warning,
        color-checked: $brand-warning
    },
    danger: {
        color: $tab-color,
        color-hover: $brand-danger,
        color-active: $brand-danger,
        color-checked: $brand-danger
    },
    muted: {
        color: $tab-color,
        color-hover: $brand-muted,
        color-active: $brand-muted,
        color-checked: $brand-muted
    }
}

$tabs-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge
}
