/**
 * @file Badge
 * @author musicode
 */

@import '../variable/badge.styl'
@import '../mixin/badge.styl'

+prefix-classes($ui-prefix)

    {$selector-badge}
        ui-badge()

    {$selector-badges}
        ui-badges()

        &{$selector-tight}
            ui-collection-tight(
                $selector-badge
            )
