/**
 * @file 徽章
 * @author musicode
 */

@import "../variable/badge.styl"
@import "../mixin/badge.styl"

+prefix-classes($ui-prefix)

    .badge

        badge()

        ui-brand-variant(
            reversed: true,
            each: @(bg = null, border = null, color = null) {
                background-color bg
                color color
            }
        )

        ui-size-variant(
            each: @(size) {
                border-radius 50%;
                font-size size['font'];
                line-height size['line-height'];
                padding: size['padding-vertical'] size['padding-horizontal'];
            }
        )