/**
 * @file 按钮
 * @author musicode
 */

@import "../mixin/button.styl";


input,
button {
    &.{$ui-prefix}btn {
        button-reset();
    }
}

.{$ui-prefix}btn {

    button();

    ui-color-variant(true);
    ui-size-variant(true);

    &.link {
        button-link($link-color, $link-color-hover);
    }
    &.block {
        button-block();
    }
}