/**
 * @file Button
 * @author musicode
 */

@import '../variable/button.styl'
@import '../mixin/button.styl'

+prefix-classes($ui-prefix)

    {$selector-button}

        button()


    {$selector-buttons}

        buttons()


