/**
 * @file Dialog
 * @author musicode
 */

+prefix-classes($ui-prefix)

    {$selector-dialog}
        ui-dialog()

        > {$selector-dialog-header}
            ui-dialog-header()

            > {$selector-dialog-title}
                ui-dialog-title()

        > {$selector-dialog-close},
        > {$selector-dialog-header} > {$selector-dialog-close}
            ui-dialog-close()

        > {$selector-dialog-body}
            ui-dialog-body()

        > {$selector-dialog-footer}
            ui-dialog-footer()

        if $support-mouse
            &{$selector-dialog-draggable}
                ui-dialog-draggable()

    {$selector-mask} + {$selector-dialog}
        border 0

        > {$selector-dialog-header}
            margin 0 !important

