/**
 * @file 对话框
 * @author zhujl
 */

@import "../variable/dialog.styl";
@import "../mixin/dialog.styl";

.dialog {
    dialog();
}

.dialog-header {

    dialog-header();

    h1 {
        dialog-title();
    }
}

.dialog-body {
    dialog-body();
}

.dialog-close {
    dialog-close();
}

.dialog-mask {
    dialog-mask();
}