/**
 * @file Dialog
 * @author musicode
 */

@import '../variable/dialog.styl'
@import '../mixin/dialog.styl'

+prefix-classes($ui-prefix)

    {$selector-dialog}
        dialog()


        > {$selector-dialog-header}
            dialog-header()

            > {$selector-dialog-title}
                dialog-title()

            > {$selector-dialog-close}
                dialog-close()

        > {$selector-dialog-body}
            dialog-body()

        > {$selector-dialog-footer}
            dialog-footer()


        &{$selector-dialog-draggable}
            > {$selector-dialog-header}
                if $support-mouse
                    ui-set('cursor', $cursor-move)