/**
 * @file 下拉菜单
 * @author musicode
 */

@import "../variable/dropdown.styl"
@import "../mixin/dropdown.styl"


+prefix-classes($ui-prefix)

    .dropdown

        dropdown()

        > .menu
            dropdown-menu()

        &.open {
            .caret {
               dropdown-caret-top();
            }
            .dropdown-menu {
                display: block;
            }
        }


    .dropdown-menu {

        dropdown-menu();

        li {
            dropdown-menu-item();
        }
    }
