/**
 * @file Dropdown
 * @author musicode
 */

@import '../variable/dropdown.styl'
@import '../mixin/dropdown.styl'

+prefix-classes($ui-prefix)

    {$selector-dropdown}

        selector-text = ' > ' + $selector-text
        selector-button = ' > ' + $selector-button
        selector-menu = ' > ' + $selector-dropdown-menu
        selector-menu-item = ' > ' + $selector-dropdown-menu + ' > ' + $selector-dropdown-menu-item

        selector-icon = ' > ' + $selector-dropdown-icon

        dropdown()

        ui-size-variant(
            each: @(size) {

                &{selector-button},
                &{selector-menu-item} {
                    ui-set('font-size', size['font'])
                    ui-set('line-height', size['line-height'])
                    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
                }

                &{selector-text},
                &{selector-button} {
                    {selector-icon} {
                        ui-set('line-height', size['line-height'])
                        ui-set('margin-left', size['margin-horizontal'])
                    }
                }

            }
        )

        {selector-text},
        {selector-button}
            dropdown-trigger()

            {selector-icon}
                dropdown-icon()

        {selector-text}
            dropdown-text()

        {selector-button}
            dropdown-button()

        {selector-menu}
            dropdown-menu()

        {selector-menu-item}
            dropdown-menu-item()

        {$selector-opened}

            {selector-button}
                dropdown-button-opened()

            {selector-menu}
                dropdown-menu-opened()

