/**
 * @file Dropdown
 * @author musicode
 */

@import '../variable/dropdown.styl'
@import '../mixin/dropdown.styl'

+prefix-classes($ui-prefix)

    {$selector-dropdown}

        selector-text = ' > ' + $selector-text
        selector-button = ' > ' + $selector-button
        selector-menu = ' > ' + $selector-dropdown-menu
        selector-menu-item = ' > ' + $selector-dropdown-menu + ' > ' + $selector-dropdown-menu-item

        selector-caret = ' > ' + $selector-dropdown-caret

        dropdown()

        ui-size-variant(
            selector-child: '&' + selector-button + ',' + '&' + selector-menu-item,
            each: @(size) {
                ui-set('font-size', size['font'])
                ui-set('line-height', size['line-height'])
                ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
            }
        )

        ui-size-variant(
            selector-child: '&' + selector-text + ',&' + selector-button,
            selector-grandchild: selector-caret,
            each: @(size) {
                ui-set('line-height', size['line-height'])
                ui-set('margin-left', size['margin-horizontal'])
            }
        )

        {selector-text},
        {selector-button}

            ui-fluid()

            {selector-caret}
                dropdown-caret()


        {selector-text}

            ui-brand-variant(
                selector-child: selector-caret,
                each: @(color) {
                    ui-set('color', color)
                }
            )

        {selector-button}

            ui-brand-variant(
                reversed: true,
                selector-child: selector-caret,
                each: @(color) {
                    ui-set('color', color)
                }
            )

        {selector-menu}
            dropdown-menu()

        {selector-menu-item}
            dropdown-menu-item()

        {$selector-opened}

            {selector-button}
                ui-brand-variant(
                    reversed: true,
                    each: @(bg, border, color) {
                        ui-active(bg, border, color, '')
                    }
                )

            {selector-menu}

                display block

