/**
 * @file 表单元素
 * @author zhujl
 */

@import "../variable/form.styl";
@import "../mixin/form.styl";

input[type="search"] {
    appearance: textfield;
}

.form-label,
.form-static,
.form-radio,
.form-checkbox,
.form-inline,
.form-block {
    ui-size('form');
}

.form-text
.placeholder {
    ui-size('form-text');
}


.form-action {
    form-action();
}


.form-group {
    form-group();

    .success,
    .error {
        display: none;
        font-size: $font-size-tiny;
    }
    .success {
        color: $brand-success;
    }
    .error {
        color: $brand-error;
    }

    &.has-success {
        .success {
            display: inline-block;
        }
    }
    &.has-error {
        .error {
            display: inline-block;
        }
    }
}

.form-label {
    form-label();
}

.form-controls {
    form-controls();
}

.form-radio,
.form-checkbox {
    form-box();
}



.form-text {
    form-text();
}

.placeholder-wrapper {
    form-placeholder-wrapper();
}
.placeholder {
    form-placeholder();
}

.form-number {
    form-number();

    .icon-caret-up,
    .icon-caret-down {
        cursor: default;
        font-size: 20px;
        position: absolute;
        right: 3px;
        user-select: none;
    }

    .icon-caret-up {
        top: 2px;
    }
    .icon-caret-down {
        bottom: 2px;
    }
}

.form-inline {
    form-inline();
}
.form-block {
    form-block();
}


.input-group {

    input-group();

    .form-text {
        border-radius: 0;

        & + .input-group-addon {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

}

.input-group-addon {
    input-group-addon();
}
