/**
 * @file 表单元素
 * @author zhujl
 */

form-control-size($has-border = false, $has-padding-horizontal = false) {
    &:not(.tiny):not(.small):not(.large):not(.huge) {
        ui-size('base', $has-border, $has-padding-horizontal);
    }
    &.huge {
        ui-size('huge', $has-border, $has-padding-horizontal);
    }
    &.large {
        ui-size('large', $has-border, $has-padding-horizontal);
    }
    &.small {
        ui-size('small', $has-border, $has-padding-horizontal);
    }
    &.tiny {
        ui-size('tiny', $has-border, $has-padding-horizontal);
    }
}

input[type="search"] {
    appearance: textfield;
}


.form-label,
.form-static,
.form-radio,
.form-checkbox,
.form-inline,
.form-block {
    form-control-size();
}

.form-group {
    clearfix();

    & + & {
        margin-top: $form-group-gap;
    }
}

.form-label {
    float: left;
    margin-right: $form-label-gap;
    form-label();
}
.form-controls {
    overflow: hidden;
}

.form-radio,
.form-checkbox {
    form-box();

    & + & {
        margin-left: 10px;
    }
}


.form-text {

    form-text();
    form-control-size(true, true);

    div&,
    span& {

        display: inline-block;

        input,
        textarea {
            border: none;
        }
    }

}

.form-inline {
    display: inline-block;
}
.form-block {
    display: block;
}
