/**
 * @file 图片
 * @author musicode
 */

@import "../variable/image.styl";
@import "../mixin/image.styl";

+prefix-classes($ui-prefix)

    .image

        image()

        ui-size-variant(
            size-hash: $image-size-hash,
            each: @(size) {
                width size['width'];
                height size['height'];
            }
        )

        {$selector-round}
            ui-size-variant(
                size-hash: $image-size-hash,
                each: @(size) {
                    border-radius size['round']
                }
            )

        {$selector-radius}
            ui-size-variant(
                size-hash: $image-size-hash,
                each: @(size) {
                    border-radius size['radius']
                }
            )

