/**
 * @file Image
 * @author musicode
 */

@import '../variable/image.styl'
@import '../mixin/image.styl'

+prefix-classes($ui-prefix)

    {$selector-image}
        ui-image()

        a&,
        &{$selector-link}
            ui-image-link()

        &{$selector-round}
            ui-image-round()

        &{$selector-radius}
            ui-image-radius()

