/**
 * @file Image
 * @author musicode
 */

+prefix-classes($ui-prefix)

    {$selector-image}
        ui-image()

        a&,
        &{$selector-link}
            ui-image-link()

        &{$selector-round}
            ui-image-round()

        &{$selector-radius}
            ui-image-radius()

    {$selector-images}
        ui-images()

        &{$selector-tight}
            ui-collection-tight(
                selector-item: $selector-image
            )

