/**
 * @file Label
 * @author musicode
 */

@import '../variable/label.styl'
@import '../mixin/label.styl'

+prefix-classes($ui-prefix)

    {$selector-label}

        border 1px solid transparent
        display inline-block
        white-space nowrap

        a&
            text-decoration none

        button&
            outline 0

        ui()

        ui-brand-variant(
            reversed: true,
            each: label-brand
        )

        ui-size-variant(
            each: @(size) {

                label-size(size)

                {$selector-round} {
                    ui-set('border-radius', size['round'])
                }

                {$selector-radius} {
                    ui-set('border-radius', size['radius'])
                }

            }

        )

    {$selector-labels}

        ui-collection(
            each: @(size) {

                > {$selector-label} {
                    label-size(size)

                    + {$selector-label} {
                        ui-set('margin-left', size['margin-horizontal'])
                    }
                }

                {$selector-round} {
                    > {$selector-label} {
                        ui-set('border-radius', size['round'])
                    }
                }

                {$selector-radius} {
                    > {$selector-label} {
                        ui-set('border-radius', size['radius'])
                    }
                }

            }
        )

