/**
 * @file 标签
 * @author musicode
 */

@import "../mixin/label.styl"

+prefix-classes($ui-prefix)

    .label

        label()

        ui-brand-variant(
            has-bg: true,
            has-color: true
        )

        ui-size-variant(
            has-font: true,
            has-line-height: true,
            has-padding: true
        )

        &.round
            ui-size-variant(
                has-round: true
            )

        &.radius
            ui-size-variant(
                has-radius: true
            )


