/**
 * @file Label
 * @author musicode
 */

@import '../variable/label.styl'
@import '../mixin/label.styl'

+prefix-classes($ui-prefix)

    {$selector-label}
        label()

    {$selector-labels}
        labels()

