/**
 * @file Link
 * @author musicode
 */

+prefix-classes($ui-prefix)

    {$selector-link}
        ui-link()

    {$selector-links}
        ui-links()

        &{$selector-tight}
            ui-collection-tight(
                selector-item: $selector-link
            )

