/**
 * @file Link
 * @author musicode
 */

@import '../variable/link.styl'
@import '../mixin/link.styl'

+prefix-classes($ui-prefix)

    {$selector-link}
        ui-link()

    {$selector-links}
        ui-links()

        &{$selector-tight}
            ui-collection-tight(
                $selector-link
            )

