/**
 * @file 列表
 * @author musicode
 */

@import '../variable/list.styl'
@import '../mixin/list.styl'

+prefix-classes($ui-prefix)

    ul.unstyled
        list-unstyled()

    ul{$selector-inline}
        > li
            display inline-block

    {$selector-list}

        ul&
            list-unstyled()

        text-align left

        ui()
        ui-set('background-color', $list-bg)

        ui-size-variant(
            each: @(size) {

                > {$selector-list-item} {
                    ui-set('font-size', size['font'])
                    ui-set('line-height', size['line-height'])
                    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
                }

                &{$selector-round} {
                    ui-set('border-radius', size['round'])
                }

                &{$selector-radius} {
                    ui-set('border-radius', size['radius'])
                }

            }
        )

        ui-brand-variant(
            reversed: true,
            selector-child: '> ' + $selector-list-item,
            each: @(bg, border, color) {
                ui-checked(bg, border, color)
            }
        )

        if $list-border is a 'rgba'

            &{$selector-list-bordered}
                border 1px solid $list-border


        > {$selector-list-item}
            display block

            if $list-item-border is a 'rgba'
                + {$selector-list-item}
                    border-top 1px solid $list-item-border

            > {$selector-floated}
                float right

