/**
 * @file 列表
 * @author zhujl
 */

.list {
    list();
}

.list-item {

    list-item();

    if ($support-mouse ia a 'boolean' && $support-mouse) {
        &:hover {
            list-item-hover();
        }
    }

    &.active {
        list-item-active();
    }

}