/**
 * @file 消息
 * @author musicode
 */

@import "../mixin/message.styl";

+prefix-classes($ui-prefix)

    .message

        message()

        ui-brand-variant(
            has-border: true,
            has-color: true,
            has-bg: true,
            level: 'lighter'
        )

        ui-size-variant(
            has-border: true,
            has-font: true,
            has-line-height: true,
            has-padding: true
        )

        &.round
            ui-size-variant(
                has-round: true
            )

        &.radius
            ui-size-variant(
                has-radius: true
            )