/**
 * @file 消息
 * @author zhujl
 */

@import "../variable/message.styl";
@import "../mixin/message.styl";

.message-default,
.message-primary,
.message-info,
.message-success,
.message-error {
    message();
}

.message-default {
    message-default();
}
.message-primary {
    message-primary();
}
.message-info {
    message-info();
}
.message-success {
    message-success();
}
.message-error {
    message-error();
}
