/**
 * @file 翻页
 * @author zhujl
 */

@import "../variable/pager.styl";
@import "../mixin/pager.styl";

.pager {

    pager();

    a,
    .ellipsis {
        pager-item();
    }

    a {
        pager-btn();

        &.active {
            cursor: text;
        }
    }

    .ellipsis {
        pager-ellipsis();
    }
}