/**
 * @file 翻页
 * @author zhujl
 */

@import "../variable/pager.styl";
@import "../mixin/pager.styl";

.pager {

    pager();

    a,
    .active,
    .ellipsis {
        pager-item();
    }

    a,
    .active {
        pager-btn();
    }

    a {
        pager-default();
    }

    .active {
        pager-active();
    }

    .ellipsis {
        pager-ellipsis();
    }
}