/**
 * @file Pagination
 * @author musicode
 */

@import '../variable/pagination.styl'
@import '../mixin/pagination.styl'

+prefix-classes($ui-prefix)

    {$selector-pagination}

        pagination()

        selector-item = '> ' + $selector-pagination-item
        selector-button = '> ' + $selector-pagination-button

        ui-size-variant(
            each: @(size) {

                {selector-item} {
                    ui-set('font-size', size['font'])

                    + {$selector-pagination-item} {
                        ui-set('margin-left', size['margin-horizontal'])
                    }
                }

                {selector-button} {
                    ui-set('line-height', size['line-height'])
                    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
                }

            }
        )

        {selector-item}
            pagination-item()

        {selector-button}
            pagination-button()

