/**
 * @file 分页
 * @author musicode
 */

@import "../variable/pagination.styl"
@import "../mixin/pagination.styl"

+prefix-classes($ui-prefix)

    .pagination

        pagination()

        selector-item = '> a'
        selector-button = '> .item'

        ui-size-variant(
            selector-append: selector-item,
            each: @(size) {
                font-size size['font'];
                margin-left size['margin-horizontal'];
                &:first-child {
                    margin-left 0
                }
            }
        )

        ui-size-variant(
            selector-append: selector-button,
            each: @(size) {
                line-height size['line-height'];
                padding: size['padding-vertical'] size['padding-horizontal']
            }
        )

        ui-brand-variant(
            reversed: true,
            selector-append: selector-button,
            each: @(bg, border, color) {
                ui-hover(bg, border, color)
                ui-active(bg, border, color)
                ui-checked(bg, border, color)
            }
        )

        ui-brand-variant(
            reversed: true,
            selector-append: selector-button,
            selector-child: $selector-active,
            each: @(bg, border, color) {
                ui-style(bg, border, color)
            }
        )

        {selector-item}
            pagination-item()

        {selector-button}
            pagination-button()

