/**
 * @file 进度条
 * @author musicode
 */

@import "../mixin/progress.styl"

+prefix-classes($ui-prefix)

    .progress

        progress()

        meter-selector = ' > .meter';

        ui-brand-variant(
            has-bg: true,
            append-selector: meter-selector
        )

        ui-size-variant(
            has-font: true,
            has-padding: true,
            has-line-height: true,
            append-selector: meter-selector
        )

        &.round
            ui-size-variant(
                has-round: true
            )
            ui-size-variant(
                has-round: true,
                append-selector: meter-selector
            )

        &.radius
            ui-size-variant(
                has-radius: true
            )
            ui-size-variant(
                has-radius: true,
                append-selector: meter-selector
            )

        {meter-selector}
            meter()

