/**
 * @file 进度条
 * @author zhujl
 */

@import "../variable/progress-bar.styl";
@import "../mixin/progress-bar.styl";

.progress {
    progress();
}

.progress-bar-primary,
.progress-bar-info,
.progress-bar-success,
.progress-bar-error {
    progress-bar();
}

.progress-bar-primary {
    progress-bar-primary();
}

.progress-bar-info {
    progress-bar-info();
}

.progress-bar-success {
    progress-bar-success();
}

.progress-bar-error {
    progress-bar-error();
}