/**
 * @file 标签页
 * @author zhujl
 */

@import "../variable/tab.styl";
@import "../mixin/tab.styl";


.tab-nav-default,
.tab-nav-primary,
.tab-nav-info {
    tab-nav();
}

.nav-item {
    nav-item();
}

.tab-nav-default {

    tab-nav-default();

    .nav-item {
        tab-item-default();
    }

}

.tab-nav-primary {

    tab-nav-primary();

    .nav-item {
        tab-item-primary();
    }

}

.tab-nav-info {

    tab-nav-info();

    .nav-item {
        tab-item-info();
    }
}

.tab-panel {

    tab-panel();

}