/**
 * @file Table
 * @author musicode
 */

+prefix-classes($ui-prefix)

    {$selector-table}
        ui-table()

        &{$selector-table-striped}
            ui-table-striped()

        &{$selector-table-row-bordered}
            ui-table-row-bordered()

        &{$selector-table-col-bordered}
            ui-table-col-bordered()

        &{$selector-table-cell-bordered }
            ui-table-cell-bordered()

