/**
 * @file 表格
 * @author musicode
 */

@import "../mixin/table.styl";
@import "../variable/table.styl";

.{$ui-prefix}table

    table()

    &.striped
        table-striped()

    &.row-bordered
        table-row-bordered()

    &.col-bordered
        table-col-bordered()

    &.cell-bordered
        table-cell-bordered()
