/**
 * @file Table
 * @author musicode
 */

@import '../mixin/table.styl'
@import '../variable/table.styl'

+prefix-classes($ui-prefix)

    {$selector-table}

        table()

        &.striped
            table-striped()

        &.row-bordered
            table-row-bordered()

        &.col-bordered
            table-col-bordered()

        &.cell-bordered
            table-cell-bordered()
