/**
 * @file Tabs
 * @author musicode
 */

+prefix-classes($ui-prefix)

    {$selector-tabs}
        ui-tabs()

        &{$selector-tight}
            ui-collection-tight(
                selector-item: $selector-tab
            )

        &{$selector-justified}
            ui-justified(
                selector-item: $selector-tab
            )

        > {$selector-tab}
            ui-tab()

