/**
 * @file Tabs
 * @author musicode
 */

@import '../variable/tabs.styl'
@import '../mixin/tabs.styl'

+prefix-classes($ui-prefix)

    {$selector-tabs}

        tabs()

        selector-item = ' > ' + $selector-tabs-item

        ui-brand-variant(
            reversed: true,
            selector-child: selector-item,
            each: @(bg, border, color) {
                ui-hover(bg, border, color)
                ui-active(bg, border, color)
            }
        )

        ui-brand-variant(
            reversed: true,
            selector-child: selector-item,
            selector-grandchild: $selector-checked,
            each: @(bg, border, color) {
                ui-style(bg: bg)
                ui-checked(bg, border, color)
            }
        )

        ui-size-variant(
            selector-child: selector-item,
            each: @(size) {
                ui-set('font-size', size['font'])
                ui-set('line-height', size['line-height'])
                ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
            }
        )

        {$selector-justified}
            ui-justified(
                selector-item: selector-item
            )

        {selector-item}
            tabs-item()
