/**
 * @file Text
 * @author musicode
 */

+prefix-classes($ui-prefix)

    {$selector-text}
        ui-text()

    {$selector-texts}
        ui-texts()

        &{$selector-tight}
            ui-collection-tight(
                $selector-text
            )
