/**
 * @file Text
 * @author musicode
 */

@import '../variable/text.styl'
@import '../mixin/text.styl'

+prefix-classes($ui-prefix)

    {$selector-text}

        ui()

        ui-brand-variant(
            each: text-brand
        )

        ui-size-variant(
            each: text-size
        )


