/**
 * @file Text
 * @author musicode
 */

@import '../variable/text.styl'
@import '../mixin/text.styl'

+prefix-classes($ui-prefix)

    {$selector-text}

        ui()

        ui-brand-variant(
            each: @(color) {
                ui-set('color', color)
            }
        )

        ui-size-variant(
            each: @(size) {
                ui-set('font-size', size['font'])
                ui-set('line-height', size['line-height'])
            }
        )


