/**
 * @file 缩略图
 * @author zhujl
 */

@import "../variable/thumbnail.styl";
@import "../mixin/thumbnail.styl";

.thumbnail {

    thumbnail();

    &.round {
        thumbnail-round();
    }
    &.circle {
        thumbnail-circle();
    }
    .title {
        thumbnail-title();
    }
}
