/**
 * @file 缩略图
 * @author zhujl
 */

.thumbnail-rect,
.thumbnail-round,
.thumbnail-circle {
    thumbnail();
}

.thumbnail-rect {
    thumbnail-rect();
}

.thumbnail-round {
    thumbnail-round();
}

.thumbnail-circle {
    thumbnail-circle();
}