/**
 * @file Tooltip
 * @author musicode
 */

@import '../variable/tooltip.styl'
@import '../mixin/tooltip.styl'

+prefix-classes($ui-prefix)

    {$selector-tooltip}

        position absolute
        border 1px solid transparent
        word-wrap break-word

        ui-set('border-radius', $tooltip-radius-size)
        ui-set('font-size', $tooltip-font-size)
        ui-set('padding', $tooltip-padding-vertical $tooltip-padding-horizontal)

        ui()

        &:before,
        &:after
            position absolute
            content ' '
            border 0 solid transparent


        ui-brand-variant(
            reversed: true,
            each: @(bg, border, color) {

                ui-style(
                    bg: bg,
                    color: color,
                    border: border
                )

                &:before {
                    ui-style(border: border)
                }
                &:after {
                    ui-style(border: bg)
                }

            }
        )





        &.top

            &:before,
            &:after
                left 50%
                margin-left -1 * $tooltip-arrow-size

                border-width $tooltip-arrow-size $tooltip-arrow-size 0 $tooltip-arrow-size
                border-left-color transparent
                border-right-color transparent

            &:before
                bottom -1 * $tooltip-arrow-size

            &:after
                bottom -1 * $tooltip-arrow-size + 1




        &.right

            &:before,
            &:after
                top 50%
                margin-top -1 * $tooltip-arrow-size

                border-width $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size 0
                border-top-color transparent
                border-bottom-color transparent

            &:before
                left -1 * $tooltip-arrow-size

            &:after
                left -1 * $tooltip-arrow-size + 1




        &.bottom

            &:before,
            &:after
                left 50%
                margin-left -1 * $tooltip-arrow-size

                border-width 0 $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size
                border-left-color transparent
                border-right-color transparent

            &:before
                top -1 * $tooltip-arrow-size

            &:after
                top -1 * $tooltip-arrow-size + 1




        &.left

            &:before,
            &:after
                top 50%
                margin-top -1 * $tooltip-arrow-size

                border-width $tooltip-arrow-size 0 $tooltip-arrow-size $tooltip-arrow-size
                border-top-color transparent
                border-bottom-color transparent

            &:before
                right -1 * $tooltip-arrow-size

            &:after
                right -1 * $tooltip-arrow-size + 1

