/**
 * @file Tooltip
 * @author musicode
 */

@import '../variable/tooltip.styl'
@import '../mixin/tooltip.styl'

+prefix-classes($ui-prefix)

    {$selector-tooltip}

        tooltip()

        &.top
            tooltip-top()

        &.right
            tooltip-right()

        &.bottom
            tooltip-bottom()

        &.left
            tooltip-left()

