/**
 * @file Tooltip
 * @author musicode
 */

+prefix-classes($ui-prefix)

    {$selector-tooltip}

        ui-tooltip()

        &{$selector-tooltip-top}
            ui-tooltip-top()

        &{$selector-tooltip-right}
            ui-tooltip-right()

        &{$selector-tooltip-bottom}
            ui-tooltip-bottom()

        &{$selector-tooltip-left}
            ui-tooltip-left()



