/**
 * @file 排版
 * @author musicode
 */

@import '../variable/typography.styl'

+prefix-classes($ui-prefix)

    html
        box-sizing border-box

    *,
    *:before,
    *:after
        box-sizing inherit

    body
        ui-set('background-color', $bg-color)
        ui-set('color', $text-color)
        ui-set('font-family', $font-family-title)
        ui-set('font-size', $size-base['font'])
        ui-set('line-height', $size-base['line-height'])

    .link
        ui-link(
            color: $link-color,
            has-hover: true
        )
