/**
 * @file 排版
 * @author musicode
 */

+prefix-classes($ui-prefix)

    html
        box-sizing border-box

    *,
    *:before,
    *:after
        box-sizing inherit

    body
        ui-set('color', $brand-text)
        ui-set('font', $size-base['font'] unquote('/') $size-base['line-height'] $font-family-text)

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        ui-set('font-family', $font-family-title)

    code
        ui-set('font-family', $font-family-code)

    ul&{$selector-unstyled},
    ul&{$selector-inline}
        list-reset()

    ul&{$selector-inline}
        ui-collection(
            selector-item: 'li'
        )
        &{$selector-tight}
            ui-collection-tight(
                selector-item: 'li'
            )
        ui-size-variant(
            each: @(size) {
                > li {
                    ui-set('font-size', size['font'])
                }
            }
        )
        > li
            ui-set('font-size', $size-base['font'])
            display inline-block

    if $brand-border is a 'rgba'
        {$selector-bordered}
            border 1px solid $brand-border

    {$selector-fluid}
        ui-fluid()


