/**
 * @file 排版
 * @author zhujl
 */

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $font-family-text;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
    }
}

small {
    font-size: $font-size-tiny;
}