@import '../src/css.styl'

body
    padding 20px

.row + .row
    margin-top 10px

code
    border 1px solid #e0e0e0
    background-color #F8F8F8
    border-radius 2px
    display inline-block
    line-height 1
    padding 2px 6px