/**
 * @file Badge
 * @author musicode
 */

$selector-badge = '.badge'
$selector-badges = '.badges'

$badge-brand-hash = {
    primary: {
        bg: $brand-primary,
        color: #FFF
    },
    secondary: {
        bg: $brand-secondary,
        color: $brand-text
    },
    success: {
        bg: $brand-success,
        color: #FFF
    },
    error: {
        bg: $brand-error,
        color: #FFF
    },
    info: {
        bg: $brand-info,
        color: #FFF
    },
    warning: {
        bg: $brand-warning,
        color: #FFF
    },
    danger: {
        bg: $brand-danger,
        color: #FFF
    },
    muted: {
        bg: $brand-muted,
        color: #FFF
    }
}

$badge-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge
}

$badge-radius-hash = {
    '': $radius-base['round'],
    tiny: $radius-tiny['round'],
    small: $radius-small['round'],
    large: $radius-large['round'],
    huge: $radius-huge['round']
}
