/**
 * @file Label
 * @author musicode
 */

$selector-label = '.label'
$selector-labels = '.labels'

$label-brand-hash = {
    primary: {
        bg: $brand-primary,
        border: $brand-primary,
        color: #FFF
    },
    secondary: {
        bg: #FFF,
        border: $brand-border,
        color: $brand-text
    },
    success: {
        bg: $brand-success,
        border: $brand-success,
        color: #FFF
    },
    error: {
        bg: $brand-error,
        border: $brand-error,
        color: #FFF
    },
    info: {
        bg: $brand-info,
        border: $brand-info,
        color: #FFF
    },
    warning: {
        bg: $brand-warning,
        border: $brand-warning,
        color: #FFF
    },
    danger: {
        bg: $brand-danger,
        border: $brand-danger,
        color: #FFF
    },
    muted: {
        bg: $brand-muted,
        border: $brand-muted,
        color: #FFF
    }
}

$label-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge
}

$label-radius-hash = {
    '': $radius-base,
    tiny: $radius-tiny,
    small: $radius-small,
    large: $radius-large,
    huge: $radius-huge
}
