/**
 * @file Progress
 * @author musicode
 */

$selector-progress = '.progress'
$selector-progress-meter = '.meter'

$progress-bg = #EEE
$progress-border = darken($progress-bg, 1%)
$progress-color = #FFF

$progress-brand-hash = {
    primary: $brand-primary,
    secondary: $brand-secondary,
    success: $brand-success,
    error: $brand-error,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger,
    muted: $brand-muted
}

$progress-size-hash = {
    '': $size-base,
    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge
}

$progress-radius-hash = {
    '': $radius-base,
    tiny: $radius-tiny,
    small: $radius-small,
    large: $radius-large,
    huge: $radius-huge
}