/**
 * @file Tooltip
 * @author musicode
 */

$selector-tooltip = '.tooltip'
$selector-tooltip-top = '.top'
$selector-tooltip-right = '.right'
$selector-tooltip-bottom = '.bottom'
$selector-tooltip-left = '.left'

$tooltip-font-size = 12px
$tooltip-padding-vertical = 12px
$tooltip-padding-horizontal = 22px
$tooltip-arrow-size = 6px
$tooltip-radius-size = 2px

$tooltip-box-shadow = $layer-box-shadow

$tooltip-brand-hash = {
    primary: {
        bg: lighten($brand-primary, 95%),
        border: $brand-primary,
        color: $brand-text
    },
    secondary: {
        bg: #FFF,
        border: $brand-border,
        color: $brand-text
    },
    success: {
        bg: lighten($brand-success, 95%),
        border: $brand-success,
        color: $brand-success
    },
    error: {
        bg: lighten($brand-error, 95%),
        border: $brand-error,
        color: $brand-error
    },
    info: {
        bg: lighten($brand-info, 95%),
        border: $brand-info,
        color: $brand-info
    },
    warning: {
        bg: lighten($brand-warning, 95%),
        border: $brand-warning,
        color: $brand-warning
    },
    danger: {
        bg: lighten($brand-danger, 95%),
        border: $brand-danger,
        color: $brand-danger
    },
    muted: {
        bg: lighten($brand-muted, 95%),
        border: $brand-muted,
        color: $brand-muted
    }
}

