@import './reset/normalize.styl'
@import './mixin/ui.styl'

$project = 'variable-uc'

@import './' + $project + '/support.styl'
@import './' + $project + '/brand.styl'
@import './' + $project + '/size.styl'
@import './' + $project + '/radius.styl'
@import './' + $project + '/cursor.styl'
@import './' + $project + '/effect.styl'
@import './' + $project + '/selector.styl'
@import './' + $project + '/z-index.styl'

@import './' + $project + '/typography.styl'
@import './' + $project + '/icon.styl'
@import './' + $project + '/link.styl'
@import './' + $project + '/text.styl'
@import './' + $project + '/button.styl'
@import './' + $project + '/label.styl'
@import './' + $project + '/message.styl'
@import './' + $project + '/badge.styl'
@import './' + $project + '/progress.styl'
@import './' + $project + '/tooltip.styl'
@import './' + $project + '/image.styl'
@import './' + $project + '/tabs.styl'
@import './' + $project + '/table.styl'
@import './' + $project + '/list.styl'
@import './' + $project + '/pagination.styl'
@import './' + $project + '/dropdown.styl'
@import './' + $project + '/mask.styl'
@import './' + $project + '/dialog.styl'
@import './' + $project + '/form.styl'
@import './' + $project + '/calendar.styl'


@import './mixin/link.styl'
@import './mixin/text.styl'
@import './mixin/button.styl'
@import './mixin/label.styl'
@import './mixin/message.styl'
@import './mixin/badge.styl'
@import './mixin/progress.styl'
@import './mixin/tooltip.styl'
@import './mixin/image.styl'
@import './mixin/tabs.styl'
@import './mixin/table.styl'
@import './mixin/list.styl'
@import './mixin/pagination.styl'
@import './mixin/dropdown.styl'
@import './mixin/mask.styl'
@import './mixin/dialog.styl'
@import './mixin/form.styl'
@import './mixin/calendar.styl'


@import './ui/typography.styl'
@import './ui/icon.styl'
@import './ui/link.styl'
@import './ui/text.styl'
@import './ui/button.styl'
@import './ui/label.styl'
@import './ui/message.styl'
@import './ui/badge.styl'
@import './ui/progress.styl'
@import './ui/tooltip.styl'
@import './ui/image.styl'
@import './ui/tabs.styl'
@import './ui/table.styl'
@import './ui/list.styl'
@import './ui/pagination.styl'
@import './ui/dropdown.styl'
@import './ui/mask.styl'
@import './ui/dialog.styl'
@import './ui/form.styl'
@import './ui/calendar.styl'




