/**
 * @file Badge
 * @author musicode
 */

badge-reset()

    a&
        ui-set('color', $brand-text)
        text-decoration none

    button&
        border 0
        outline 0


badge-brand(brand)

    ui-set('background-color', brand['bg'])
    ui-set('color', brand['color'])


badge-size(size, name)

    ui-set('font-size', size['font'])
    ui-set('line-height', size['line-height'])
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])

    ui-set('border-radius', $badge-radius-hash[name])


ui-badge()

    display inline-block
    text-align center
    white-space nowrap

    badge-reset()

    ui-variant(
        hash: $badge-brand-hash,
        each: badge-brand
    )

    ui-variant(
        hash: $badge-size-hash,
        each: badge-size
    )



ui-badges()

    ui-collection(
        selector-item: $selector-badge,
        hash: $badge-size-hash,
        each: @(size, name) {
            > {$selector-badge} {
                badge-size(size, name)
            }
        }
    )

