/**
 * @file 徽章
 * @author zhujl
 */

badge() {
    display: inline-block;
    font-weight: $badge-font-weight;
    border-radius: $badge-border-radius-base;
}

badge-type($bg, $color) {
    background-color: $bg;
    color: $color;
}


badge-default() {
    badge-type(
        $badge-default-bg,
        $badge-default-color
    );
}
badge-primary() {
    badge-type(
        $badge-primary-bg,
        $badge-primary-color
    );
}
badge-info() {
    badge-type(
        $badge-info-bg,
        $badge-info-color
    );
}
badge-success() {
    badge-type(
        $badge-success-bg,
        $badge-success-color
    );
}
badge-error() {
    badge-type(
        $badge-error-bg,
        $badge-error-color
    );
}
