/**
 * @file Button
 * @author musicode
 */

button-size(size)

    ui-set('font-size', size['font'])
    ui-set('line-height', size['line-height'])
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])


button-brand(bg, border, color)

    ui-style(bg, border, color)
    ui-hover(bg, border, color)
    ui-active(bg, border, color)
    ui-disabled(bg, border, color)
