/**
 * @file 按钮
 * @author musicode
 */

button()

    display inline-block
    text-align center
    user-select none

    if ($support-mouse == true)
        cursor pointer

    ui()


button-reset()

    outline none
    margin 0 // safari 需要这句


button-link($color, $color-hover)

    color $color

    if ($support-mouse == true)
        &:hover
            color $color-hover
            text-decoration underline


button-block()

    display block
    width 100%

