/**
 * @file 对话框
 * @author zhujl
 */

dialog() {
    position: fixed;

    width: $dialog-width;
}

dialog-mask() {
    position: absolute;
    top: 0;
    left: 0;
}

dialog-close() {
    color: $dialog-close-color;
    font-size: $dialog-close-font-size;
    font-weight: $dialog-close-font-weight;
    position: absolute;
    top: $dialog-close-top;
    right: $dialog-close-right;
}

dialog-header() {
    background-color: $dialog-header-bg;
    color: $dialog-header-color;
    font-size: $dialog-header-font-size;
    font-family: $dialog-header-font-family;
    font-weight: $dialog-header-font-weight;
    padding: $dialog-header-padding-vertical $dialog-header-padding-horizontal;
}

dialog-body() {
    background-color: $dialog-body-bg;
    padding: $dialog-body-padding-vertical $dialog-body-padding-horizontal;
}