/**
 * @file Dropdown
 * @author musicode
 */

dropdown-size(size)

    > {$selector-text},
    > {$selector-button},
    > {$selector-dropdown-menu} > {$selector-dropdown-menu-item}
        ui-set('font-size', size['font'])
        ui-set('line-height', size['line-height'])


    > {$selector-text}
        ui-set('padding-left', size['padding-horizontal'])
        ui-set('padding-right', size['padding-horizontal'])


    > {$selector-button},
    > {$selector-dropdown-menu} > {$selector-dropdown-menu-item}
        ui-set('padding', size['padding-vertical'] size['padding-horizontal'])


    > {$selector-text},
    > {$selector-button}
        > {$selector-icon}
            ui-set('line-height', size['line-height'])
            ui-set('margin-left', size['margin-horizontal'])


    &{$selector-radius}
        > {$selector-button},
        > {$selector-dropdown-menu}
            ui-set('border-radius', size['radius'])



