/**
 * @file Form
 * @author musicode
 */


form()

    font-size 0

    > * + {$selector-block}
        ui-set('margin-top', $form-group-gap-block)


form-group()

    + {$selector-form-group}
        ui-set('margin-top', $form-group-gap-block)

    > {$selector-label}
        border-left 0
        border-right 0
        padding-left 0


form-group-inline()

    display inline-block
    vertical-align top

    + {$selector-form-group}
        margin-top 0
        ui-set('margin-left', $form-group-gap-inline)


form-label()

    vertical-align top
    text-align right


form-controls()

    display inline-block
    position relative

    > {$selector-inline}
        display inline-block

    > {$selector-block}
        display block

    > * + {$selector-inline},
    {$selector-text} + {$selector-label},
    {$selector-label} + {$selector-text}
        ui-set('margin-left', $form-control-gap-inline)

    > * + {$selector-block}
        ui-set('margin-top', $form-control-gap-block)

        &{$selector-label}
            margin-top 0

    > {$selector-label}
        border-left 0
        border-right 0
        padding-left 0
        padding-right 0

    {$selector-tooltip}
        display none


form-menu()

    display none
    position absolute

    ui-set('background-color', $brand-bg)
    ui-set('font-size', $size-base['font'])



form-footer()

    ui-set('margin-top', $form-footer-gap-vertical)


form-radio()

    ui()

    > input[type="radio"]
        ui-set('margin-right', $form-box-text-gap)


form-radios()

    ui-collection(
        selector-item: $selector-form-radio,
        each: @(size) {
            > {$selector-form-radio} {
                ui-set('font-size', size['font'])
            }
            > {$selector-label} {
                border-left 0
                border-right 0
                padding-left 0
                padding-right 0
            }
        }
    )


form-checkbox()

    ui()

    > input[type="checkbox"]
        ui-set('margin-right', $form-box-text-gap)


form-checkboxes()

    ui-collection(
        selector-item: $selector-form-checkbox,
        each: @(size) {
            > {$selector-form-checkbox} {
                ui-set('font-size', size['font'])
            }
            > {$selector-label} {
                border-left 0
                border-right 0
                padding-left 0
                padding-right 0
            }
        }
    )


form-input-size(size)

    ui-set('font-size', size['font'])
    ui-set('line-height', size['line-height'])
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])


form-input-height(name)

    ui-set('height', $form-input-size-hash[name]['height'])


form-input()

    selector-input = 'input&,> input'
    selector-textarea = 'textarea&,> textarea'

    selector-control = selector-input + ',' + selector-textarea
    selector-wrapper = 'div&'

    {selector-textarea}
        resize none

    {selector-wrapper}
        display inline-block

    color inherit

    ui()

    ui-size-variant(
        each: @(size, name) {
            {selector-control} {
                form-input-size(size)
            }
            {selector-input} {
                form-input-height(name)
            }
            &{$selector-round} {
                {selector-control} {
                    ui-set('border-radius', size['round'])
                }
            }
            &{$selector-radius} {
                {selector-control} {
                    ui-set('border-radius', size['radius'])
                }
            }
            {selector-wrapper} {
                > {$selector-label},
                > {$selector-button},
                > {$selector-form-placeholder} {
                    ui-set('font-size', size['font'])
                    ui-set('line-height', size['line-height'])
                    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
                }

                > {$selector-floated} {
                    position absolute
                    left 0
                    ui-set('top', size['padding-vertical'])
                    ui-set('font-size', size['font'])
                    ui-set('line-height', size['line-height'])
                }

                > input + {$selector-floated} {
                    left auto
                    right 0
                }

                > {$selector-label} + input,
                > {$selector-button} + input {
                    border-left 0
                    border-top-left-radius 0
                    border-bottom-left-radius 0
                }
                > input + {$selector-label},
                > input + {$selector-button} {
                    margin-left -1px
                }

                &{$selector-round} {
                    > {$selector-button},
                    > {$selector-label},
                    > input {
                        ui-set('border-radius', size['round'])
                        border-top-right-radius 0
                        border-bottom-right-radius 0
                    }
                    > {$selector-label} + input,
                    > {$selector-button} + input,
                    > input + {$selector-label},
                    > input + {$selector-button} {
                        ui-set('border-radius', size['round'])
                        border-top-left-radius 0
                        border-bottom-left-radius 0
                    }
                }
                &{$selector-radius} {
                    > {$selector-button},
                    > {$selector-label},
                    > input {
                        ui-set('border-radius', size['radius'])
                        border-top-right-radius 0
                        border-bottom-right-radius 0
                    }
                    > {$selector-label} + input,
                    > {$selector-button} + input,
                    > input + {$selector-label},
                    > input + {$selector-button} {
                        ui-set('border-radius', size['radius'])
                        border-top-left-radius 0
                        border-bottom-left-radius 0
                    }
                }
            }
        }
    )

    {selector-control}

        outline 0
        margin 0

        background-color $form-input-bg
        border 1px solid $brand-border

        if $form-placeholder-color is a 'rgba'

            &::-webkit-input-placeholder
                color $form-placeholder-color

            &:-moz-placeholder
                color $form-placeholder-color

            &::-moz-placeholder
                color $form-placeholder-color

            &:-ms-input-placeholder
                color $form-placeholder-color

    {selector-wrapper}

        position relative
        font-size 0

        > {$selector-floated}
            position absolute

        > input,
        > textarea
            vertical-align top

        if $form-placeholder-color is a 'rgba'

            > {$selector-form-placeholder}

                position absolute
                left 1px
                top 1px

                user-select none
                ui-set('color', $form-placeholder-color)


    {$selector-hover}
        {selector-control}
            ui-transition('border-color')
            ui-set('border-color', darken($brand-border, 5%))

    {selector-control}
        {$selector-focus}
            ui-set('border-color', darken($brand-border, 10%))

    ui-brand-variant(
        reversed: true,
        each: @(bg, color, name) {

            {selector-wrapper} {
                > {$selector-label} {
                    label-brand(
                        bg: bg,
                        color: color
                    )
                }
                > {$selector-button} {
                    button-brand(
                        bg: bg,
                        border: darken(bg, $button-border-darken),
                        color: color
                    )
                    {$selector-hover} {
                        bg-hover = $brand-hover-hash[name]
                        button-hover(
                            bg: bg-hover,
                            border: darken(bg-hover, $button-border-darken),
                            color: color
                        )
                    }
                    {$selector-active} {
                        bg-active = $brand-active-hash[name]
                        button-active(
                            bg: bg-active,
                            border: darken(bg-active, $button-border-darken),
                            color: color
                        )
                    }
                    {$selector-disabled} {
                        bg-disabled = $brand-disabled-hash[name]
                        button-disabled(
                            bg: bg-disabled,
                            border: darken(bg-disabled, $button-border-darken),
                            color: color
                        )
                    }
                }
            }

            {$selector-hover} {
                {selector-control} {
                    ui-set('border-color', lighten(bg, 20%))
                }
            }

            {selector-control} {
                {$selector-focus} {
                    ui-set('border-color', bg)
                }
            }

        }
    )



form-inputs()

    ui-collection(
        selector-item: $selector-form-input,
        each: @(size, name) {

            > input{$selector-form-input},
            > textarea{$selector-form-input},
            > {$selector-form-input} > input,
            > {$selector-form-input} > textarea {
                form-input-size(size)
            }

            > input{$selector-form-input},
            > {$selector-form-input} > input {
                form-input-height(name)
            }

            &{$selector-round} {
                > {$selector-button},
                > {$selector-label},
                > input{$selector-form-input},
                > textarea{$selector-form-input},
                > {$selector-form-input} > input,
                > {$selector-form-input} > textarea {
                    ui-set('border-radius', size['round'])
                }
            }
            &{$selector-radius} {
                > {$selector-button},
                > {$selector-label},
                > input{$selector-form-input},
                > textarea{$selector-form-input},
                > {$selector-form-input} > input,
                > {$selector-form-input} > textarea {
                    ui-set('border-radius', size['radius'])
                }
            }

        }
    )

form-inputs-tight()

    ui-collection-tight(
        selector-item: $selector-form-input,
        gap-item: -1px
    )

    ui-collection-tight-side-radius(
        selector-item: $selector-form-input
    )
