/**
 * @file Form
 * @author musicode
 */


form()

    font-size 0
    text-align left

    > * + {$selector-block}
        ui-set('margin-top', $form-group-gap-block)


form-group()

    + {$selector-form-group}
        ui-set('margin-top', $form-group-gap-block)

    > {$selector-label}
        border-left 0
        border-right 0
        padding-left 0


form-group-inline()

    display inline-block
    vertical-align top

    + {$selector-form-group}
        margin-top 0
        ui-set('margin-left', $form-group-gap-inline)


form-label()

    vertical-align top
    text-align right


form-controls()

    display inline-block
    position relative

    > {$selector-inline}
        display inline-block

    > {$selector-block}
        display block

    > * + {$selector-inline},
    {$selector-text} + {$selector-label},
    {$selector-label} + {$selector-text}
        ui-set('margin-left', $form-control-gap-inline)

    > * + {$selector-block}
        ui-set('margin-top', $form-control-gap-block)

        &{$selector-label}
            margin-top 0

    > {$selector-label}
        border-left 0
        border-right 0
        padding-left 0
        padding-right 0


form-menu()

    display none
    position absolute
    ui-set('z-index', $zindex-small)
    ui-set('background-color', $form-menu-bg)
    ui-set('box-shadow', $form-menu-box-shadow)


form-footer()

    ui-set('margin-top', $form-footer-gap-vertical)


form-radio()

    > input[type="radio"]
        ui-set('margin-right', $form-box-text-gap)


form-radios()

    ui-collection(
        selector-item: $selector-form-radio,
        hash: $form-box-size-hash,
        each: @(size) {
            > {$selector-form-radio} {
                ui-set('font-size', size['font'])
            }
            > {$selector-label} {
                border-left 0
                border-right 0
                padding-left 0
                padding-right 0
            }
        }
    )


form-checkbox()

    > input[type="checkbox"]
        ui-set('margin-right', $form-box-text-gap)


form-checkboxes()

    ui-collection(
        selector-item: $selector-form-checkbox,
        hash: $form-box-size-hash,
        each: @(size) {
            > {$selector-form-checkbox} {
                ui-set('font-size', size['font'])
            }
            > {$selector-label} {
                border-left 0
                border-right 0
                padding-left 0
                padding-right 0
            }
        }
    )


form-input-size(size)

    ui-set('font-size', size['font'])
    ui-set('line-height', size['line-height'])
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])


form-input-height(name)

    ui-set('height', $form-input-height-hash[name])


form-input()

    selector-input = 'input&,> input'
    selector-textarea = 'textarea&,> textarea'

    selector-control = selector-input + ',' + selector-textarea
    selector-wrapper = 'div&'

    {selector-textarea}
        resize none

    {selector-wrapper}
        display inline-block

    color inherit

    {selector-control}

        outline 0

        background-color $form-input-bg
        border 1px solid $brand-border

        if $support-mouse
            ui-disabled-cursor()

        &[disabled]
            ui-set('background-color', $form-input-bg-disabled, true)
            ui-set('border-color', $form-input-border-disabled, true)
            ui-set('color', $form-input-color-disabled, true)
            &:hover
                ui-set('border-color', $form-input-border-disabled, true)

        if $form-placeholder-color is a 'rgba'

            &::-webkit-input-placeholder
                color $form-placeholder-color

            &:-moz-placeholder
                color $form-placeholder-color

            &::-moz-placeholder
                color $form-placeholder-color

            &:-ms-input-placeholder
                color $form-placeholder-color

    {selector-wrapper}

        position relative
        font-size 0

        > input,
        > textarea
            width 100%

        > textarea
            height 100%

        if $form-placeholder-color is a 'rgba'

            > {$selector-form-placeholder}

                position absolute
                left 1px
                top 1px

                user-select none
                ui-set('color', $form-placeholder-color)

    {$selector-hover}
        {selector-control}
            ui-transition('border-color')
            ui-set('border-color', lighten($brand-primary, $form-input-border-hover-lighten))

    {selector-control}
        {$selector-focus}
            ui-set('border-color', $brand-primary)

    ui-variant(
        hash: $form-input-size-hash,
        each: @(size, name) {
            {selector-control} {
                form-input-size(size)
            }
            {selector-input} {
                form-input-height(name)
            }
            {selector-wrapper} {
                > {$selector-form-placeholder} {
                    form-input-size(size)
                }
            }
            ui-variant(
                hash: $form-input-radius-hash[name],
                each: @(radius) {
                    {selector-control} {
                        ui-set('border-radius', radius)
                    }
                }
            )
        }
    )

    ui-variant(
        hash: $form-input-brand-hash,
        each: @(brand, name) {
            {selector-control} {
                ui-set('background-color', brand['bg'])
                ui-set('border-color', brand['border'])
            }
        }
    )

form-input-group()

    display inline-block
    font-size 0
    position relative

    > {$selector-floated}
        position absolute

    control-radius = @(radius) {
        > {$selector-button},
        > {$selector-label},
        input,
        textarea {
            ui-set('border-radius', radius)
            border-top-right-radius 0
            border-bottom-right-radius 0
        }

        > {$selector-label} + input{$selector-form-input},
        > {$selector-label} + {$selector-form-input} > input,
        > {$selector-button} + input{$selector-form-input},
        > {$selector-button} + {$selector-form-input} > input,
        > {$selector-form-input} + {$selector-label},
        > {$selector-form-input} + {$selector-button} {
            ui-set('border-radius', radius)
            border-top-left-radius 0
            border-bottom-left-radius 0
        }
    }

    ui-variant(
        hash: $form-input-size-hash,
        each: @(size, name) {

            > {$selector-label} {
                label-size(size)
            }
            > {$selector-button} {
                button-size(size)
            }
            input {
                form-input-size(size)
                form-input-height(name)
            }

            > {$selector-floated} {
                ui-set('left', size['padding-horizontal'])
                ui-set('font-size', size['font'])
                ui-set('line-height', size['line-height'])
            }

            > {$selector-form-input} + {$selector-floated} {
                left auto
                ui-set('right', size['padding-horizontal'])
            }

            > {$selector-label} + input{$selector-form-input},
            > {$selector-label} + {$selector-form-input} > input,
            > {$selector-button} + input{$selector-form-input},
            > {$selector-button} + {$selector-form-input} > input {
                border-top-left-radius 0
                border-bottom-left-radius 0
            }

            > {$selector-label} + {$selector-form-input},
            > {$selector-button} + {$selector-form-input} {
                margin-left -1px
            }

            > {$selector-form-input} + {$selector-label},
            > {$selector-form-input} + {$selector-button} {
                border-left 0
            }

            ui-variant(
                hash: $form-input-radius-hash[name],
                each: @(radius) {
                    control-radius(radius)
                }
            )

    })

form-inputs()

    position relative

    ui-collection(
        selector-item: $selector-form-input,
        hash: $form-input-size-hash,
        each: @(size, name) {

            input,
            textarea {
                form-input-size(size)
            }

            input {
                form-input-height(name)
            }

            ui-variant(
                hash: $form-input-radius-hash[name],
                each: @(radius) {
                    > {$selector-button},
                    > {$selector-label},
                    input,
                    textarea {
                        ui-set('border-radius', radius)
                    }
                }
            )

        }
    )

form-inputs-tight()

    ui-collection-tight(
        selector-item: $selector-form-input,
        gap-item: -1px
    )

    ui-collection-tight-side-radius(
        selector-item: $selector-form-input,
        hash: $form-input-radius-hash
    )

