/**
 * @file Form
 * @author musicode
 */

form()

    &{$selector-inline}

        > {$selector-form-group}
            display inline-block
            margin-top 0 !important
            ui-set('margin-left', $form-group-gap-inline)

form-input()

    selector-input = 'input&,>input'
    selector-textarea = 'textarea&,>textarea'

    selector-control = selector-input + ',' + selector-textarea
    selector-wrapper = 'div&,span&,label&'

    ui()

    display inline-block

    {selector-textarea}
        resize none

    ui-size-variant(
        each: @(size) {
            {selector-control} {
                ui-set('font-size', size['font'])
                ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
            }
            {selector-textarea} {
                ui-set('line-height', size['line-height'])
            }
            {selector-wrapper} {
                > {$selector-label},
                > {$selector-button} {
                    ui-set('font-size', size['font'])
                    ui-set('line-height', size['line-height'])
                    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
                }

                > {$selector-form-placeholder} {
                    ui-set('font-size', size['font'])
                    ui-set('line-height', size['line-height'])
                    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
                }

                > {$selector-icon} {
                    ui-set('font-size', size['font'])
                    ui-set('line-height', size['line-height'])
                }

                // icon 在左边
                > {$selector-icon} {
                    left 0
                    ui-set('top', size['padding-vertical'])
                }

                > input + {$selector-icon} {
                    left auto
                    right 0
                }

                > {$selector-icon} {
                    position absolute
                }

                > {$selector-label} + input,
                > {$selector-button} + input {
                    border-left 0
                    border-top-left-radius 0
                    border-bottom-left-radius 0
                }
                > input + {$selector-label},
                > input + {$selector-button} {
                    margin-left -1px
                }
            }
        }
    )

    // input 对 line-height 支持有兼容问题，因此用 height 解决
    ui-size-variant(
        size-hash: $form-input-size-hash,
        selector-child: selector-input,
        each: @(size) {
            ui-set('height', size['height'])
        }
    )

    {selector-control}

        outline 0
        margin 0

        background-color $form-input-bg
        border-color $form-input-border

        if $form-placeholder-color is a 'rgba'

            &::-webkit-input-placeholder
                color $form-placeholder-color

            &:-moz-placeholder
                color $form-placeholder-color

            &::-moz-placeholder
                color $form-placeholder-color

            &:-ms-input-placeholder
                color $form-placeholder-color

    {selector-wrapper}

        position relative
        font-size 0

        > {$selector-icon}
            position absolute

        if $form-placeholder-color is a 'rgba'

            > {$selector-form-placeholder}

                position absolute
                left 1px
                top 1px

                user-select none
                ui-set('color', $form-placeholder-color)


    {$selector-hover}
        {selector-control}
            ui-hover(border: $form-input-border, selector: '')

    {selector-control}
        {$selector-focus}
            ui-focus(border: $form-input-border, selector: '')

    ui-brand-variant(
        reversed: true,
        each: @(bg, border, color) {

            {selector-wrapper} {
                > {$selector-label},
                > {$selector-button} {
                    ui-style(bg, border, color)
                }
            }

            {$selector-hover} {
                {selector-control} {
                    ui-hover(border: lighten(bg, 50%), selector: '')
                }
            }

            {selector-control} {
                {$selector-focus} {
                    ui-focus(border: lighten(bg, 40%), selector: '')
                }
            }

        }
    )



form-group()

    font-size 0

    + {$selector-form-group}
        ui-set('margin-top', $form-group-gap-block)

    > {$selector-label}
        vertical-align top


form-controls()

    font-size 0
    display inline-block
    position relative

    > {$selector-inline}
        display inline-block
        ui-set('margin-left', $form-control-gap-inline)

    > * + {$selector-block}
        display block
        ui-set('margin-top', $form-control-gap-block)

    > {$selector-label}
        border-left 0
        border-right 0
        padding-left 0
        padding-right 0

form-radio()

    ui()

    > input[type="radio"]
        margin-right $form-box-text-gap

    + {$selector-form-radio}
        ui-set('margin-left', $form-box-gap-horizontal)

    &{$selector-block}
        display block
        margin-left 0

    &{$selector-block} + {$selector-block}
        ui-set('margin-top', $form-box-gap-vertical)

form-checkbox()

    ui()

    > input[type="checkbox"]
        margin-right $form-box-text-gap

    + {$selector-form-checkbox}
        ui-set('margin-left', $form-box-gap-horizontal)

    &{$selector-block}
        display block
        margin-left 0

    &{$selector-block} + {$selector-block}
        ui-set('margin-top', $form-box-gap-vertical)


form-action()

    font-size 0
    ui-set('margin-top', $form-action-gap-vertical)

    > {$selector-button} + {$selector-button}
        ui-set('margin-left', $form-action-button-gap-horizontal)
