/**
 * @file Image
 * @author musicode
 */

image-reset()

    a&
        text-decoraton none


image-size(size)

    ui-set('width', size['width'])
    ui-set('height', size['height'])


ui-image()

    display inline-block
    font-size 0
    text-align center
    overflow hidden

    > img
        display block
        width 100%
        height 100%

    image-reset()

    ui()

    ui-size-variant(
        size-hash: $image-size-hash,
        each: image-size
    )


ui-images()

    ui()

    ui-collection(
        selector-item: $selector-image,
        each: @(size, name) {
            > {$selector-image} {
                image-size($image-size-hash[name])
            }
        }
    )



ui-image-link()

    position relative

    &:after
        content ' '
        position absolute
        top 0
        right 0
        bottom 0
        left 0

        if !$support-ie or !$support-ie8
            background-color rgba(0,0,0,0)
            ui-transition('background-color')
        else
            background-color #000
            ui-opacity(0)
            ui-transition('opacity')

    {$selector-hover}
        &:after
            if !$support-ie or !$support-ie8
                background-color rgba(0,0,0,$image-link-hover-mask-opacity)
            else
                ui-opacity($image-link-hover-mask-opacity)


ui-image-round()

    border-radius 50%



ui-image-radius()

    ui-size-variant(
        size-hash: $image-size-hash,
        each: @(size) {
            ui-set('border-radius', size['radius'])
        }
    )

