/**
 * @file 标签
 * @author zhujl
 */

label() {

    display: inline-block;

    if (typeof($label-default-border) == 'rgba') {
        border: 1px solid transparent;
    }

    if ($label-font-weight != 'normal') {
        font-weight: $label-font-weight;
    }

    ui-size('label');
}

label-default() {
    ui-type(
        $label-default-bg,
        $label-default-color,
        $label-default-border,
        $label-default-shadow
    );
}

label-primary() {
    ui-type(
        $label-primary-bg,
        $label-primary-color,
        $label-primary-border,
        $label-primary-shadow
    );
}

label-info() {
    ui-type(
        $label-info-bg,
        $label-info-color,
        $label-info-border,
        $label-info-shadow
    );
}

label-success() {
    ui-type(
        $label-success-bg,
        $label-success-color,
        $label-success-border,
        $label-success-shadow
    );
}

label-error() {
    ui-type(
        $label-error-bg,
        $label-error-color,
        $label-error-border,
        $label-error-shadow
    );
}
