/**
 * @file Label
 * @author musicode
 */

label-size(size)

    ui-set('font-size', size['font'])
    ui-set('line-height', size['line-height'])
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])


label-brand(bg, border, color)

    ui-style(bg, bg, color)



