/**
 * @file Label
 * @author musicode
 */

label-reset()

    a&
        ui-set('color', $text-color)
        text-decoration none

    button&
        outline 0


label-size(size)

    ui-set('font-size', size['font'])
    ui-set('line-height', size['line-height'])
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])


label-brand(bg, border, color)

    ui-style(bg, bg, color)



