/**
 * @file Link
 * @author musicode
 */

link-reset()

    a&
        text-decoration none

    button&
        background-color transparent
        outline 0
        border 0
        padding 0


link-size(size)

    ui-set('font-size', size['font'])



ui-link()

    link-reset()

    ui()

    ui-set('color', $brand-link)

    ui-size-variant(
        each: link-size
    )

    if $support-mouse

        ui-set('cursor', $cursor-clickable)
        ui-disabled-cursor()

        {$selector-hover}
            ui-transition('color')
            ui-set('color', $brand-link-hover)
            text-decoration underline

        {$selector-disabled}
            ui-set('color', $brand-link-disabled, true)
            text-decoration none


ui-links()

    ui()

    ui-collection(
        selector-item: $selector-link,
        each: @(size) {
            > {$selector-link} {
                link-size(size)
            }
        }
    )



