/**
 * @file 列表
 * @author zhujl
 */

list() {

    background-color: $list-bg;
    padding: $list-padding-vertical $list-padding-horizontal;

    if ($list-border is a 'rgba') {
        border: 1px solid $list-border;
    }

    if ($list-border-radius > 0) {
        border-radius: $list-border-radius;
    }

    if ($list-box-shadow) {
        box-shadow: $list-box-shadow;
    }

}

list-item() {

    color: $list-item-color;
    display: block;
    font-size: $list-item-font-size;
    padding: $list-item-padding-vertical $list-item-padding-horizontal;

    if ($list-item-border is a 'rgba') {

        border-top: 1px solid $list-item-border;

        &:first-child {
            border-top: none;
        }
    }

    if ($support-mouse ia a 'boolean' && $support-mouse) {
        &:hover {
            if ($list-item-bg-hover != $list-item-bg) {
                background-color: $list-item-bg-hover;
            }

            if ($list-item-color-hover != $list-item-color) {
                color: $list-item-color-hover;
            }
        }
    }

}

list-item-active() {

    // 因为要覆盖 hover，所以这里不能 if
    background-color: $list-item-bg-active;
    color: $list-item-color-active;

}
