/**
 * @file Mask
 * @author musicode
 */

ui-mask()

    position fixed
    top 0
    right 0
    bottom 0
    left 0

    ui-set('z-index', $zindex-large)

    if !$support-ie or !$support-ie8
        background-color rgba(0,0,0,$selector-mask-opacity)
    else
        background-color #000
        ui-opacity($selector-mask-opacity)


