/**
 * @file 消息
 * @author zhujl
 */

message() {
    ui-size('message');
}

message-default() {
    ui-type($type-hash['message-default']);
}

message-primary() {
    ui-type($type-hash['message-primary']);
}

message-info() {
    ui-type($type-hash['message-info']);
}

message-success() {
    ui-type($type-hash['message-success']);
}

message-error() {
    ui-type($type-hash['message-error']);
}