/**
 * @file Message
 * @author musicode
 */

message()

    border 1px solid transparent
    text-align left

    ui()
    ui-inline-to-inline-block()

    ui-brand-variant(
        reversed: true,
        level: 'lighter',
        each: @(bg, border, color) {
            ui-style(bg, border, color)
        }
    )