/**
 * @file 翻页
 * @author zhujl
 */


pager() {
    font-size: 0;
    if ($support-mouse == true) {
        user-select: none;
    }
}

pager-item() {

    if ($pager-item-gap > 0) {

        margin-left: $pager-item-gap;

        &:first-child {
            margin-left: 0;
        }
    }
    else {
        margin-left: -1px;
        &:hover {
            position: relative;
        }
    }

    display: inline-block;

}

pager-btn() {

    if ($support-mouse == true) {
        cursor: pointer;
    }
    ui-size('pager-btn');
    ui-type($type-hash['pager-btn']);
}

pager-ellipsis() {

    ui-size('pager-ellipsis');

}