/**
 * @file Pagination
 * @author musicode
 */

ui-pagination-button-brand(bg, color)

    border = darken(bg, 10%)

    {$selector-hover}
        ui-transition('background-color, border-color, color')
        ui-set('background-color', lighten(bg, 10%))
        ui-set('border-color', lighten(border, 5%))
        ui-set('color', color)

    {$selector-active}
        ui-set('background-color', darken(bg, 10%))
        ui-set('border-color', darken(border, 10%))
        ui-set('color', color)
        ui-set('box-shadow', $button-box-shadow-active)

    {$selector-checked}
        ui-set('background-color', darken(bg, 10%))
        ui-set('border-color', darken(border, 10%))
        ui-set('color', color)
        ui-set('box-shadow', none)


ui-pagination()

    ul&
        list-reset()

    color inherit

    ui()

    ui-collection(
        selector-item: $selector-pagination-item,
        each: @(size) {

            > {$selector-pagination-item} {
                ui-set('font-size', size['font'])
            }

            > {$selector-button} {
                ui-set('line-height', size['line-height'])
                ui-set('padding', size['padding-vertical'] size['padding-horizontal'])
            }

        }
    )

    ui-brand-variant(
        reversed: true,
        each: @(bg, color) {
            > {$selector-button} {
                ui-pagination-button-brand(bg, color)
            }
        }
    )


ui-pagination-tight()

    ui-collection-tight(
        selector-item: $selector-pagination-item,
        gap-item: -1px
    )


ui-pagination-item()

    display inline-block
    ui()

    ui-checked-cursor()


ui-pagination-button()

    ui-set('border-color', $brand-border)
    ui-set('background-color', $brand-bg)

    {$selector-disabled}
        ui-set('background-color', $brand-bg-disabled, true)
        ui-set('border-color', $brand-border-disabled, true)
        ui-set('color', $brand-text-disabled, true)



