/**
 * @file 分页
 * @author musicode
 */

@import "./list.styl";

pagination()

    font-size 0

    ui()

    ul&
        list-unstyled()


pagination-item()

    display inline-block

    ui()


pagination-button()

    user-select none

    ui-style(
        border: $pagination-button-border,
        color: $pagination-button-color,
        bg: $pagination-button-bg
    )

    ui-clickable(
        has-checked: true,
        has-disabled: true
    )


