/**
 * @file 分页
 * @author musicode
 */

@import './list.styl'

pagination()

    font-size 0

    ui()

    ul&
        list-unstyled()


pagination-item()

    display inline-block

    ui()


pagination-button()

    user-select none
    border 1px solid $pagination-button-border

    ui-style(
        color: $pagination-button-color,
        bg: $pagination-button-bg
    )

    ui-disabled(
        border: $pagination-button-border,
        color: $pagination-button-color,
        bg: $pagination-button-bg
    )

    if $support-mouse
        cursor $cursor-clickable

