/**
 * @file 进度条
 * @author musicode
 */

@import "../variable/progress.styl"

progress()

    background-color $progress-bg
    overflow hidden
    ui()


meter()
    display block
    height 100%
    text-align right

