/**
 * @file 进度条
 * @author zhujl
 */

progress() {

    ui-type($type-hash['progress-default']);

    ui-size('progress');

    overflow: hidden;

}

progress-bar() {
    display: block;
    height: 100%;
    text-align: center;
}

progress-bar-default() {
    ui-type($type-hash['progress-bar-default']);
}

progress-bar-primary() {
    ui-type($type-hash['progress-bar-primary']);
}

progress-bar-info() {
    ui-type($type-hash['progress-bar-info']);
}

progress-bar-success() {
    ui-type($type-hash['progress-bar-success']);
}

progress-bar-error() {
    ui-type($type-hash['progress-bar-error']);
}