/**
 * @file Progress
 * @author musicode
 */

progress()

    if $progress-border is a 'rgba'
        border 1px solid transparent

    overflow hidden

    ui-set('background-color', $progress-bg)
    ui()


progress-meter()

    display block
    text-align right

    ui()

