/**
 * @file 组件尺寸
 * @author zhujl
 */

ui-size-inner($font-size, $line-height,
              $padding-vertical, $padding-horizontal,
              $width, $height,
              $border-radius) {

    font-size: $font-size;
    line-height: $line-height;

    if ($width > 0) {
        width: $width;
    }
    if ($height > 0) {
        height: $height;
    }

    if ($padding-vertical > 0 || $padding-horizontal > 0) {

        if ($padding-vertical == $padding-horizontal) {
            padding: $padding-vertical;
        }
        else {
            padding: $padding-vertical $padding-horizontal;
        }

    }

    if ($border-radius > 0) {
        border-radius: $border-radius;
    }
}

ui-size($name, $has-border = false, $has-padding-horizontal = false) {

    $conf = $size-hash[$name];

    if (!$conf) {
        $conf = { };
    }

    box-sizing: border-box;

    &:not({$size-tiny-selector}):not({$size-small-selector}):not({$size-large-selector}):not({$size-huge-selector}) {

        $font-size = $conf['font-size-base'] || $font-size-base;
        $line-height = $conf['line-height-base'] || $line-height-base;
        $padding-vertical = $conf['padding-vertical-base'] || $padding-vertical-base;
        $padding-horizontal = $conf['padding-horizontal-base'] || $padding-horizontal-base;

        $width = $conf['width-base'];
        $height = $conf['height-base'];

        $border-radius = $conf['border-radius-base'] || $border-radius-base;

        ui-size-inner(
            $font-size,
            $line-height,
            $padding-vertical,
            $padding-horizontal,
            $width,
            $height,
            $border-radius
        );

    }

    &{$size-tiny-selector} {

        $font-size = $conf['font-size-tiny'] || $font-size-tiny;
        $line-height = $conf['line-height-tiny'] || $line-height-tiny;
        $padding-vertical = $conf['padding-vertical-tiny'] || $padding-vertical-tiny;
        $padding-horizontal = $conf['padding-horizontal-tiny'] || $padding-horizontal-tiny;

        $width = $conf['width-tiny'];
        $height = $conf['height-tiny'];

        $border-radius = $conf['border-radius-tiny'] || $border-radius-tiny;

        ui-size-inner(
            $font-size,
            $line-height,
            $padding-vertical,
            $padding-horizontal,
            $width,
            $height,
            $border-radius
        );
    }

    &{$size-small-selector} {

        $font-size = $conf['font-size-small'] || $font-size-small;
        $line-height = $conf['line-height-small'] || $line-height-small;
        $padding-vertical = $conf['padding-vertical-small'] || $padding-vertical-small;
        $padding-horizontal = $conf['padding-horizontal-small'] || $padding-horizontal-small;

        $width = $conf['width-small'];
        $height = $conf['height-small'];

        $border-radius = $conf['border-radius-small'] || $border-radius-small;

        ui-size-inner(
            $font-size,
            $line-height,
            $padding-vertical,
            $padding-horizontal,
            $width,
            $height,
            $border-radius
        );

    }

    &{$size-large-selector} {

        $font-size = $conf['font-size-large'] || $font-size-large;
        $line-height = $conf['line-height-large'] || $line-height-large;
        $padding-vertical = $conf['padding-vertical-large'] || $padding-vertical-large;
        $padding-horizontal = $conf['padding-horizontal-large'] || $padding-horizontal-large;

        $width = $conf['width-large'];
        $height = $conf['height-large'];

        $border-radius = $conf['border-radius-large'] || $border-radius-large;

        ui-size-inner(
            $font-size,
            $line-height,
            $padding-vertical,
            $padding-horizontal,
            $width,
            $height,
            $border-radius
        );

    }

    &{$size-huge-selector} {

        $font-size = $conf['font-size-huge'] || $font-size-huge;
        $line-height = $conf['line-height-huge'] || $line-height-huge;
        $padding-vertical = $conf['padding-vertical-huge'] || $padding-vertical-huge;
        $padding-horizontal = $conf['padding-horizontal-huge'] || $padding-horizontal-huge;

        $width = $conf['width-huge'];
        $height = $conf['height-huge'];

        $border-radius = $conf['border-radius-huge'] || $border-radius-huge;

        ui-size-inner(
            $font-size,
            $line-height,
            $padding-vertical,
            $padding-horizontal,
            $width,
            $height,
            $border-radius
        );

    }
}