/**
 * @file 组件尺寸
 * @author zhujl
 */

ui-size-inner($conf) {

    $font-size = $conf['font-size'];
    $font-family = $conf['font-family'];
    $font-weight = $conf['font-weight'];
    $line-height = $conf['line-height'];

    $border-top-width = $conf['border-top-width'];
    $border-right-width = $conf['border-right-width'];
    $border-bottom-width = $conf['border-bottom-width'];
    $border-left-width = $conf['border-left-width'];

    $padding-vertical = $conf['padding-vertical'];
    $padding-horizontal = $conf['padding-horizontal'];

    $width = $conf['width'];
    $height = $conf['height'];
    $min-width = $conf['min-width'];
    $min-height = $conf['min-height'];
    $max-width = $conf['max-width'];
    $max-height = $conf['max-height'];
    $border-radius = $conf['border-radius'];

    border-style: solid;

    if ($border-top-width > 0 && $border-top-width == $border-right-width && $border-top-width == $border-bottom-width && $border-top-width == $border-left-width) {
        border-width: $border-top-width;
    }
    else {
        if ($border-top-width > 0) {
            border-top-width: $border-top-width;
        }

        if ($border-right-width > 0) {
            border-right-width: $border-right-width;
        }

        if ($border-bottom-width > 0) {
            border-bottom-width: $border-bottom-width;
        }

        if ($border-left-width > 0) {
            border-left-width: $border-left-width;
        }
    }

    if ($font-size > 0) {
        font-size: $font-size;
    }
    if ($font-family) {
        font-family: $font-family;
    }
    if ($font-weight && $font-weight != normal) {
        font-weight: $font-weight;
    }

    if ($line-height >= 0) {
        line-height: $line-height;
    }

    if ($padding-vertical > 0 || $padding-horizontal > 0) {

        if ($padding-vertical == $padding-horizontal) {
            padding: $padding-vertical;
        }
        else {
            padding: $padding-vertical $padding-horizontal;
        }

    }

    if ($width > 0) {
        width: $width;
    }
    if ($height > 0) {
        height: $height;
    }

    if ($min-width > 0) {
        min-width: $min-width;
    }
    if ($min-height > 0) {
        min-height: $min-height;
    }

    if ($max-width > 0) {
        max-width: $max-width;
    }
    if ($max-height > 0) {
        max-height: $max-height;
    }

    if ($border-radius > 0) {
        border-radius: $border-radius;
    }
}

ui-size($name, $child-selector = '') {

    $conf = $size-hash[$name];

    if (!$conf) {
        $conf = { };
    }

    & {$child-selector} {
        box-sizing: border-box;
    }

    if ($conf['base']) {
        //&:not({$size-tiny-selector}):not({$size-small-selector}):not({$size-large-selector}):not({$size-huge-selector}) {

        & {$child-selector} {
            if ($conf['base']['line-height'] == null) {
                $conf['base']['line-height'] = $line-height-base;
            }
            if ($conf['base']['padding-vertical'] == null) {
                $conf['base']['padding-vertical'] = $padding-vertical-base;
            }
            if ($conf['base']['padding-horizontal'] == null) {
                $conf['base']['padding-horizontal'] = $padding-horizontal-base;
            }
            ui-size-inner($conf['base']);
        }

    }

    if ($conf['tiny']) {
        &{$size-tiny-selector} {$child-selector} {
            if ($conf['tiny']['font-size'] == null) {
                $conf['tiny']['font-size'] = $font-size-tiny;
            }
            if ($conf['tiny']['line-height'] == null) {
                $conf['tiny']['line-height'] = $line-height-tiny;
            }
            if ($conf['tiny']['padding-vertical'] == null) {
                $conf['tiny']['padding-vertical'] = $padding-vertical-tiny;
            }
            if ($conf['tiny']['padding-horizontal'] == null) {
                $conf['tiny']['padding-horizontal'] = $padding-horizontal-tiny;
            }
            ui-size-inner($conf['tiny']);
        }
    }

    if ($conf['small']) {
        &{$size-small-selector} {$child-selector} {
            if ($conf['small']['font-size'] == null) {
                $conf['small']['font-size'] = $font-size-small;
            }
            if ($conf['small']['line-height'] == null) {
                $conf['small']['line-height'] = $line-height-small;
            }
            if ($conf['small']['padding-vertical'] == null) {
                $conf['small']['padding-vertical'] = $padding-vertical-small;
            }
            if ($conf['small']['padding-horizontal'] == null) {
                $conf['small']['padding-horizontal'] = $padding-horizontal-small;
            }
            ui-size-inner($conf['small']);
        }
    }

    if ($conf['large']) {
        &{$size-large-selector} {$child-selector} {
            if ($conf['large']['font-size'] == null) {
                $conf['large']['font-size'] = $font-size-large;
            }
            if ($conf['large']['line-height'] == null) {
                $conf['large']['line-height'] = $line-height-large;
            }
            if ($conf['large']['padding-vertical'] == null) {
                $conf['large']['padding-vertical'] = $padding-vertical-large;
            }
            if ($conf['large']['padding-horizontal'] == null) {
                $conf['large']['padding-horizontal'] = $padding-horizontal-large;
            }
            ui-size-inner($conf['large']);
        }
    }

    if ($conf['huge']) {
        &{$size-huge-selector} {$child-selector} {
            if ($conf['huge']['font-size'] == null) {
                $conf['huge']['font-size'] = $font-size-huge;
            }
            if ($conf['huge']['line-height'] == null) {
                $conf['huge']['line-height'] = $line-height-huge;
            }
            if ($conf['huge']['padding-vertical'] == null) {
                $conf['huge']['padding-vertical'] = $padding-vertical-huge;
            }
            if ($conf['huge']['padding-horizontal'] == null) {
                $conf['huge']['padding-horizontal'] = $padding-horizontal-huge;
            }
            ui-size-inner($conf['huge']);
        }
    }
}