/**
 * @file 标签页
 * @author zhujl
 */

tab-nav() {
    text-align: left;
}

nav-item() {

    display: inline-block;
    position: relative;
    vertical-align: top;

    if ($support-mouse == true) {
        cursor: pointer;
        user-select: none;
    }

}

tab-panel() {
    display: none;
}

tab-nav-default() {
    ui-type($type-hash['tab-nav-default']);
    ui-size('tab-nav-default');
}

tab-item-default() {
    ui-type($type-hash['tab-item-default']);
    ui-size('tab-item-default');
}

tab-nav-primary() {
    ui-type($type-hash['tab-nav-primary']);
    ui-size('tab-nav-primary');
}

tab-item-primary() {
    ui-type($type-hash['tab-item-primary']);
    ui-size('tab-item-primary');
}

tab-nav-info() {
    ui-type($type-hash['tab-nav-info']);
    ui-size('tab-nav-info');
}

tab-item-info() {
    ui-type($type-hash['tab-item-info']);
    ui-size('tab-item-info');
}