/**
 * @file 标签页
 * @author musicode
 */

tab-nav() {
    text-align: left;
    clearfix();
}

nav-item() {

    float: left;
    position: relative;
    vertical-align: top;

    if ($support-mouse == true) {
        cursor: pointer;
        user-select: none;

        &{$active-selector} {
            cursor: text;
        }
    }

}

tab-panel() {
    display: none;
}

tab-nav-default() {
    ui-type($type-hash['tab-nav-default']);
    ui-size('tab-nav-default');
}
