/**
 * @file 表格
 * @author zhujl
 */


table() {

    width: 100%;
    box-sizing: border-box;

    thead {
        ui-type(
            $table-header-bg,
            $table-header-color
        );
    }

    th {
        padding: $table-header-cell-padding-vertical $table-header-cell-padding-horizontal;
        text-align: $table-header-align;
    }

    tbody {

        if (typeof($table-body-odd-row-bg) == 'rgba' && $table-body-odd-row-bg == $table-body-even-row-bg) {
            background-color: $table-body-odd-row-bg;
        }
        else {
            if (typeof($table-body-odd-row-bg) == 'rgba') {
                tr:nth-chilid(2n+1) {
                    background-color: $table-body-odd-row-bg;
                }
            }
            if (typeof($table-body-even-row-bg) == 'rgba') {
                tr:nth-chilid(2n) {
                    background-color: $table-body-even-row-bg;
                }
            }
        }

        if (typeof($table-body-color) == 'rgba') {
            color: $table-body-color;
        }

        if (typeof($table-body-row-border) == 'rgba') {
            tr {
                border-bottom: 1px solid $table-body-row-border;
            }
        }
    }

    td {
        padding: $table-body-cell-padding-vertical $table-body-cell-padding-horizontal;
        text-align: $table-body-align;
    }

}