/**
 * @file Tabs
 * @author musicode
 */

tabs()

    display block
    font-size 0
    user-select none
    ui()


tabs-item()

    display inline-block
    position relative
    text-align center
    ui()

    if $support-mouse
        ui-set('cursor', $cursor-clickable)



