/**
 * @file Tabs
 * @author musicode
 */


tab-size(size)

    ui-set('font-size', size['font'])
    ui-set('line-height', size['line-height'])
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])


tab-brand(bg, border, color)

    ui-hover(bg, border, color)
    ui-active(bg, border, color)
    ui-checked(bg, border, color)

