/**
 * @file 文本
 * @author musicode
 */

text()

    ui-brand-variant(
        each: @(bg = null, border = null, color = null) {
            color color
        }
    )

    ui-size-variant(
        each: @(size) {
            font-size size['font']; // 不加分号会报错
            line-height size['line-height']
        }
    )

    ui()

