/**
 * @file Text
 * @author musicode
 */

text-reset()

    button&
        background-color transparent
        outline 0
        border 0
        padding 0


ui-text()

    text-reset()

    ui()


ui-texts()

    ui()

    ui-collection(
        selector-item: $selector-text,
        each: @(size) {
            > {$selector-text} {
                ui-set('font-size', size['font'])
            }
        }
    )
