/**
 * @file 缩略图
 * @author zhujl
 */

thumbnail() {

    ui-type($type-hash['thumbnail']);

    display: inline-block;

    img {
        width: 100%;
        height: 100%;
    }

}

thumbnail-rect() {
    ui-size('thumbnail-rect');
}

thumbnail-round() {

    ui-size('thumbnail-round');

    border-radius: $thumbnail-round;

    img {
        border-radius: $thumbnail-round-inner;
    }
}

thumbnail-circle() {

    ui-size('thumbnail-circle');

    border-radius: $thumbnail-circle;

    img {
        border-radius: $thumbnail-circle-inner;
    }
}


thumbnail-title() {

    display: block;
    margin-top: $thumbnail-title-gap;
    text-align: center;

    ui-size('thumbnail-title');
    ui-type($type-hash['thumbnail-title']);

}
