/**
 * @file 工具提示
 * @author musicode
 */

tooltip-style(bg = null, border = null, color = null)

    background-color bg
    border-color border
    color color

    &:before
        border-color border

    &:after
        border-color bg


tooltip()

    position absolute
    border 1px solid
    border-radius $tooltip-radius-size
    font-size $tooltip-font-size
    padding $tooltip-padding-vertical $tooltip-padding-horizontal

    ui()

    &:before,
    &:after
        position absolute
        content ' '
        border 0 solid transparent

    tooltip-style(
        bg: $tooltip-bg,
        color: $tooltip-color,
        border: ui-darken-border($tooltip-bg)
    )


tooltip-reversed()

    tooltip-style(
        bg: $tooltip-color,
        color: $tooltip-bg,
        border: ui-darken-border($tooltip-color)
    )


tooltip-top()

    &:before,
    &:after
        left 50%
        margin-left -1 * $tooltip-arrow-size

        border-width $tooltip-arrow-size $tooltip-arrow-size 0 $tooltip-arrow-size
        border-left-color transparent
        border-right-color transparent

    &:before
        bottom -1 * $tooltip-arrow-size

    &:after
        bottom -1 * $tooltip-arrow-size + 1


tooltip-right()

    &:before,
    &:after
        top 50%
        margin-top -1 * $tooltip-arrow-size

        border-width $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size 0
        border-top-color transparent
        border-bottom-color transparent

    &:before
        left -1 * $tooltip-arrow-size

    &:after
        left -1 * $tooltip-arrow-size + 1


tooltip-bottom()

    &:before,
    &:after
        left 50%
        margin-left -1 * $tooltip-arrow-size

        border-width 0 $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size
        border-left-color transparent
        border-right-color transparent

    &:before
        top -1 * $tooltip-arrow-size

    &:after
        top -1 * $tooltip-arrow-size + 1


tooltip-left()

    &:before,
    &:after
        top 50%
        margin-top -1 * $tooltip-arrow-size

        border-width $tooltip-arrow-size 0 $tooltip-arrow-size $tooltip-arrow-size
        border-top-color transparent
        border-bottom-color transparent

    &:before
        right -1 * $tooltip-arrow-size

    &:after
        right -1 * $tooltip-arrow-size + 1


