
ui-type($conf, $child-selector = '') {

    $default = $conf['default'];
    $hover = $conf['hover'];
    $focus = $conf['focus'];
    $active = $conf['active'];
    $disabled = $conf['disabled'];

    & {$child-selector} {

        if (typeof($default['bg']) == 'rgba') {
            background-color: $default['bg'];
        }
        else {
            button&,
            input& {
                background-color: transparent;
            }
        }

        if (typeof($default['border']) == 'rgba') {
            border-color: $default['border'];
        }
        else {
            border-color: transparent;
        }

        if (typeof($default['color']) == 'rgba') {
            color: $default['color'];
        }

        if ($default['opacity'] > 0 && $default['opacity'] < 1) {
            opacity($default['opacity']);
        }

        if ($default['box-shadow'] && $default['box-shadow'] != 'none') {
            box-shadow: $default['box-shadow'];
        }

        if ($default['text-shadow'] && $default['text-shadow'] != 'none') {
            text-shadow: $default['text-shadow'];
        }

    }


    $need-hover-bg = typeof($hover['bg']) == 'rgba' && $hover['bg'] != $default['bg'];
    $need-hover-color = typeof($hover['color']) == 'rgba';
    $need-hover-border = typeof($hover['border']) == 'rgba' && $hover['border'] != $default['border'];
    $need-hover-box-shadow = $hover['box-shadow'] && $hover['box-shadow'] != $default['box-shadow'];

    if ($support-mouse == true || $need-hover-bg || $need-hover-color || $need-hover-border || $need-hover-box-shadow) {
        &:hover {$child-selector} {

            if ($need-hover-bg) {
                background-color: $hover['bg'];
            }

            if ($need-hover-color) {
                if ($hover['color'] != $default['color']) {
                    color: $hover['color'];
                }
                else {
                    a& {
                        color: $hover['color'];
                    }
                }
            }

            if ($need-hover-border) {
                border-color: $hover['border'];
            }

            if ($need-hover-box-shadow) {
                box-shadow: $hover['box-shadow'];
            }

            if ($transition-duration > 0) {
                transition: background-color $transition-duration;
            }
        }
    }

    $need-focus-bg = typeof($focus['bg']) == 'rgba' && $focus['bg'] != $default['bg'];
    $need-focus-color = typeof($focus['color']) == 'rgba' && $focus['color'] != $default['color'];
    $need-focus-border = typeof($focus['border']) == 'rgba' && $focus['border'] != $default['border'];
    $need-focus-box-shadow = $focus['box-shadow'] && $focus['box-shadow'] != $default['box-shadow'];

    if ($need-focus-bg || $need-focus-color || $need-focus-border || $need-focus-box-shadow) {
        &:focus {$child-selector} {
            if ($need-focus-bg) {
                background-color: $focus['bg'];
            }
            if ($need-focus-color) {
                color: $focus['color'];
            }
            if ($need-focus-border) {
                border-color: $focus['border'];
            }
            if ($need-focus-box-shadow) {
                box-shadow: $focus['box-shadow'];
            }
        }
    }

    $need-active-bg = typeof($active['bg']) == 'rgba' && $active['bg'] != $default['bg'];
    $need-active-color = typeof($active['color']) == 'rgba' && $active['color'] != $default['color'];
    $need-active-border = typeof($active['border']) == 'rgba' && $active['border'] != $default['border'];
    $need-active-box-shadow = $active['box-shadow'] && $active['box-shadow'] != $default['box-shadow']

    if ($need-active-bg || $need-active-color || $need-active-border || $need-active-box-shadow) {

        &:active {$child-selector},
        &[active] {$child-selector},
        &{$active-selector} {$child-selector} {
            if ($need-active-bg) {
                background-color: $active['bg'];
            }
            if ($need-active-color) {
                color: $active['color'];
            }
            if ($need-active-border) {
                border-color: $active['border'];
            }
            if ($need-active-box-shadow) {
                box-shadow: $active['box-shadow'];
            }
        }
    }


    $need-disabled-bg = typeof($disabled['bg']) == 'rgba' && $disabled['bg'] != $default['bg'];
    $need-disabled-color = typeof($disabled['color']) == 'rgba' && $disabled['color'] != $default['color'];
    $need-disabled-border = typeof($disabled['border']) == 'rgba' && $disabled['border'] != $default['border'];
    $need-disabled-box-shadow = $disabled['box-shadow'] && $disabled['box-shadow'] != $default['box-shadow']

    if ($need-disabled-bg || $need-disabled-color || $need-disabled-border || $need-disabled-box-shadow) {

        &:disabled {$child-selector},
        &[disabled] {$child-selector}, // IE 不加这句没用
        &{$disabled-selector} {$child-selector} {

            if ($support-mouse == true) {
                cursor: not-allowed;
                pointer-events: none;
            }

            if ($need-disabled-bg) {
                background-color: $disabled['bg'];
            }
            if ($need-disabled-color) {
                color: $disabled['color'];
            }
            if ($need-disabled-border) {
                border-color: $disabled['border'];
            }
            if ($need-disabled-box-shadow) {
                box-shadow: $disabled['box-shadow'];
            }
        }
    }
}