
ui-type($conf) {

    $default = $conf['default'];
    $hover = $conf['hover'];
    $focus = $conf['focus'];
    $active = $conf['active'];
    $disabled = $conf['disabled'];

    if (typeof($default['bg']) == 'rgba') {
        background-color: $default['bg'];
    }
    else {
        button&,
        input& {
            background-color: transparent;
        }
    }

    if (typeof($default['border']) == 'rgba') {
        border-color: $default['border'];
    }
    else {
        border-color: transparent;
    }

    if (typeof($default['color']) == 'rgba') {
        color: $default['color'];
    }

    if ($default['opacity'] > 0 && $default['opacity'] < 1) {
        opacity($default['opacity']);
    }

    if ($default['shadow'] && $default['shadow'] != 'none') {
        box-shadow: $default['shadow'];
    }



    $need-hover-bg = typeof($hover['bg']) == 'rgba' && $hover['bg'] != $default['bg'];
    $need-hover-color = typeof($hover['color']) == 'rgba';
    $need-hover-border = typeof($hover['border']) == 'rgba' && $hover['border'] != $default['border'];
    $need-hover-shadow = $hover['shadow'] && $hover['shadow'] != $default['shadow'];

    if ($support-mouse == true || $need-hover-bg || $need-hover-color || $need-hover-border || $need-hover-shadow) {
        &:hover {

            if ($need-hover-bg) {
                background-color: $hover['bg'];
            }

            if ($need-hover-color) {
                if ($hover['color'] != $default['color']) {
                    color: $hover['color'];
                }
                else {
                    a& {
                        color: $hover['color'];
                    }
                }
            }

            if ($need-hover-border) {
                border-color: $hover['border'];
            }

            if ($need-hover-shadow) {
                box-shadow: $hover['shadow'];
            }

            if ($transition-duration > 0) {
                transition: background-color $transition-duration;
            }
        }
    }

    $need-focus-bg = typeof($focus['bg']) == 'rgba' && $focus['bg'] != $default['bg'];
    $need-focus-color = typeof($focus['color']) == 'rgba' && $focus['color'] != $default['color'];
    $need-focus-border = typeof($focus['border']) == 'rgba' && $focus['border'] != $default['border'];
    $need-focus-shadow = $focus['shadow'] && $focus['shadow'] != $default['shadow'];

    if ($need-focus-bg || $need-focus-color || $need-focus-border || $need-focus-shadow) {
        &:focus {
            if ($need-focus-bg) {
                background-color: $focus['bg'];
            }
            if ($need-focus-color) {
                color: $focus['color'];
            }
            if ($need-focus-border) {
                border-color: $focus['border'];
            }
            if ($need-focus-shadow) {
                box-shadow: $focus['shadow'];
            }
        }
    }

    $need-active-bg = typeof($active['bg']) == 'rgba' && $active['bg'] != $default['bg'];
    $need-active-color = typeof($active['color']) == 'rgba' && $active['color'] != $default['color'];
    $need-active-border = typeof($active['border']) == 'rgba' && $active['border'] != $default['border'];
    $need-active-shadow = $active['shadow'] && $active['shadow'] != $default['shadow']

    if ($need-active-bg || $need-active-color || $need-active-border || $need-active-shadow) {

        &:active,
        &[active],
        &{$active-selector} {
            if ($need-active-bg) {
                background-color: $active['bg'];
            }
            if ($need-active-color) {
                color: $active['color'];
            }
            if ($need-active-border) {
                border-color: $active['border'];
            }
            if ($need-active-shadow) {
                box-shadow: $active['shadow'];
            }
        }
    }


    $need-disabled-bg = typeof($disabled['bg']) == 'rgba' && $disabled['bg'] != $default['bg'];
    $need-disabled-color = typeof($disabled['color']) == 'rgba' && $disabled['color'] != $default['color'];
    $need-disabled-border = typeof($disabled['border']) == 'rgba' && $disabled['border'] != $default['border'];
    $need-disabled-shadow = $disabled['shadow'] && $disabled['shadow'] != $default['shadow']

    if ($need-disabled-bg || $need-disabled-color || $need-disabled-border || $need-disabled-shadow) {

        &:disabled,
        &[disabled], // IE 不加这句没用
        &{$disabled-selector} {

            if ($support-mouse == true) {
                cursor: not-allowed;
            }

            if ($need-disabled-bg) {
                background-color: $disabled['bg'];
            }
            if ($need-disabled-color) {
                color: $disabled['color'];
            }
            if ($need-disabled-border) {
                border-color: $disabled['border'];
            }
            if ($need-disabled-shadow) {
                box-shadow: $disabled['shadow'];
            }
        }
    }
}