

ui()

    box-sizing border-box

    if @display == 'inline-block' or @display == 'inline'
        vertical-align baseline


ui-fluid()

    display block
    width 100%


ui-clickable(checked-selector = null, disabled-selector = null)

    if $support-mouse

        cursor: $cursor-clickable;

        if checked-selector
            &{checked-selector}
                cursor: $cursor-checked

        if disabled-selector
            &{disabled-selector}
                cursor: $cursor-disabled

ui-link(color, hover-color)

    color color

    if ($support-mouse == true)
        &:hover
            color hover-color
            text-decoration underline


ui-style(color = null, border = null, bg = null)

    if color is a 'rgba'
        color color

    if border is a 'rgba'
        border 1px solid border

    if bg is a 'rgba'
        background-color bg


ui-brand(brand, color-level = 'base', has-border = false, has-bg = false)

    bg = brand[color-level]
    color = brand[color-level + '-reversed']

    if color-level == 'lighter'
        border = brand['light']
    else if color-level == 'light'
        border = brand['base']
    else if color-level == 'base'
        border = brand['dark']
    else if color-level == 'dark'
        border = brand['darker']

    if !has-bg
        color = bg
        bg = null

    if !has-border
        border = null

    ui-style(color: color, bg: bg, border: border)



ui-brand-variant(append = '', color-level = 'base', has-border = false, has-bg = false)

    for brand in $brand-hash

        selector = ''

        if brand
            selector = '.' + brand

        if append
           selector = selector + append

        if selector
            &{selector}
                ui-brand($brand-hash[brand], color-level, has-border, has-bg)
        else
            ui-brand($brand-hash[brand], color-level, has-border, has-bg)




ui-size(size, has-font, has-line-height, has-margin-vertical, has-margin-horizontal, has-padding, has-border, has-round, has-radius)

    if has-font
        font-size size['font-size']

    if has-line-height
        line-height size['line-height']

    if has-margin-horizontal
        margin-left size['margin-horizontal'];
        &:first-child
            margin-left 0


    if has-margin-vertical
        margin-top size['margin-vertical'];
        &:first-child
            margin-top 0

    if has-padding
        padding: size['padding-vertical'] size['padding-horizontal']

    if has-round
        border-radius size['round-size']
    else if has-radius
        border-radius size['radius-size']



ui-size-variant(append = '', has-font = false, has-line-height = false, has-margin-vertical = false, has-margin-horizontal = false, has-padding = false, has-border = false, has-round = false, has-radius = false)



    for size in $size-hash

        apply()
            ui-size(
                size: $size-hash[size],
                has-font: has-font,
                has-line-height: has-line-height,
                has-margin-vertical: has-margin-vertical,
                has-margin-horizontal: has-margin-horizontal,
                has-padding: has-padding,
                has-border: has-border,
                has-round: has-round,
                has-radius: has-radius
            )


        selector = ''

        if size
            selector = '.' + size

        if append
           selector = selector + append

        if selector
            &{selector}
                apply()

        else
            apply()



