

ui()

    box-sizing border-box
    font-weight normal


ui-brand-variant(brand, has-border = false, has-bg = false)

    color = brand['base-reversed']
    border = brand['dark']
    bg = brand['base']

    if !has-bg
        color = bg
        bg = null

    if !has-border
        border = null

    if color is a 'rgba'
        color color

    if border is a 'rgba'
        border 1px solid border

    if bg is a 'rgba'
        background-color bg




